{
  "openapi": "3.1.0",
  "info": {
    "title": "Mnemom API",
    "description": "Trust infrastructure for AI agents. Transparent alignment verification, behavioral drift detection, and accountability primitives.",
    "version": "1.0.0",
    "contact": {
      "name": "Mnemom",
      "url": "https://mnemom.ai",
      "email": "support@mnemom.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.mnemom.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Agent registration, lifecycle, and metadata."
    },
    {
      "name": "Agent Containment",
      "description": "Containment policies and quarantine controls."
    },
    {
      "name": "Analyze",
      "description": "Behavioral analysis endpoints."
    },
    {
      "name": "Auth",
      "description": "Authentication, sessions, and access management."
    },
    {
      "name": "Billing",
      "description": "Subscription, usage, and invoicing."
    },
    {
      "name": "Blog",
      "description": "Public blog content."
    },
    {
      "name": "Card Templates",
      "description": "Org-level alignment and protection card templates."
    },
    {
      "name": "Checkpoints",
      "description": "Integrity checkpoints and proof artifacts."
    },
    {
      "name": "Conscience Values",
      "description": "Org-level conscience-value configuration."
    },
    {
      "name": "Drift",
      "description": "Drift detection and resolution."
    },
    {
      "name": "Enforcement",
      "description": "Enforcement-mode configuration and queries."
    },
    {
      "name": "Governance",
      "description": "Operator-actionable governance signals (ADR-048)."
    },
    {
      "name": "Integrity",
      "description": "AIP integrity checkpoints and verdicts."
    },
    {
      "name": "Intelligence",
      "description": "Intelligence reports and queries."
    },
    {
      "name": "Licensing",
      "description": "License management."
    },
    {
      "name": "On-Chain",
      "description": "On-chain verification and proofs."
    },
    {
      "name": "Organizations",
      "description": "Org-level resources and management."
    },
    {
      "name": "Policy",
      "description": "Policy evaluation and configuration."
    },
    {
      "name": "Postures",
      "description": "Trust posture management (ADR-045)."
    },
    {
      "name": "Reclassification",
      "description": "Reclassification workflows."
    },
    {
      "name": "Reputation",
      "description": "Per-agent reputation scores."
    },
    {
      "name": "Risk",
      "description": "Risk assessment endpoints."
    },
    {
      "name": "Safe House",
      "description": "Safe House XFD threat detection and quarantine."
    },
    {
      "name": "Sideband",
      "description": "Sideband detection queries (legacy; sunsetting)."
    },
    {
      "name": "Team Reputation",
      "description": "Team-level reputation aggregates."
    },
    {
      "name": "Teams",
      "description": "Team-scope resources."
    },
    {
      "name": "Traces",
      "description": "AP-Trace artifacts and queries."
    },
    {
      "name": "Verification",
      "description": "Trace verification endpoints."
    },
    {
      "name": "Webhook Notifications",
      "description": "Webhook event subscription management."
    },
    {
      "name": "Webhooks",
      "description": "Webhook delivery and lifecycle."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token in Authorization: Bearer header"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Mnemom-Api-Key",
        "description": "Mnemom API key (mnm_... format)"
      },
      "ServiceRole": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase service role key for admin and service endpoints"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "mnemom_session",
        "description": "HttpOnly, Secure, SameSite=Lax cookie issued by /v1/auth/sign-in (or the SSO / email-callback flows). The value is an AES-256-GCM-encrypted blob of {access_token, refresh_token, issued_at, auth_method}. Browser clients include this automatically with `credentials: \"include\"`."
      },
      "LicenseJwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "License JWT (HS256, HMAC-signed with LICENSE_SIGNING_SECRET). Used by self-hosted deployment instances to authenticate `/v1/deployments/heartbeat`. Not interchangeable with the Supabase user JWT."
      }
    },
    "parameters": {
      "AgentId": {
        "name": "agent_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Agent identifier (e.g. smolt-abc123)"
      },
      "OrgId": {
        "name": "org_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Organization identifier (e.g. org-abc12345)"
      },
      "EndpointId": {
        "name": "endpoint_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Webhook endpoint identifier (e.g. whe-abc12345)"
      },
      "TeamId": {
        "name": "team_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Team identifier (UUID)"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_hash": {
            "type": "string",
            "description": "First 16 hex chars of `SHA256(apiKey + '|' + agentName)` for named agents, or `SHA256(apiKey)` for unnamed singleton agents. The gateway computes the same value on each request and uses it as the lookup key. See [Agent Identity](https://docs.mnemom.ai/concepts/agent-identity#agent_hash--the-canonical-identity-hash).",
            "example": "a1b2c3d4e5f6a7b8"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "claimed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_seen": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "offline"
            ]
          },
          "public": {
            "type": "boolean"
          },
          "aip_enforcement_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "observe",
              "enforce",
              "nudge"
            ]
          },
          "billing_account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AlignmentCard": {
        "type": "object",
        "properties": {
          "card_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "card_json": {
            "type": "object",
            "description": "Full alignment card JSON per AAP spec"
          },
          "conscience_values": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ConscienceValue"
            }
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "APTrace": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "action": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            }
          },
          "decision": {
            "type": "object",
            "properties": {
              "selected": {
                "type": "string"
              },
              "selection_reasoning": {
                "type": "string"
              },
              "values_applied": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "confidence": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "verification": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "verified": {
                "type": "boolean"
              },
              "violations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IntegrityScore": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "total_traces": {
            "type": "integer"
          },
          "verified_traces": {
            "type": "integer"
          },
          "violation_count": {
            "type": "integer"
          },
          "integrity_score": {
            "type": "number",
            "description": "Value between 0 and 1"
          }
        }
      },
      "Checkpoint": {
        "type": "object",
        "properties": {
          "checkpoint_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "card_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "thinking_block_hash": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "verdict": {
            "type": "string",
            "enum": [
              "clear",
              "review_needed",
              "boundary_violation"
            ]
          },
          "concerns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "severity": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "evidence": {
                  "type": "string"
                }
              }
            }
          },
          "reasoning_summary": {
            "type": "string"
          },
          "conscience_context": {
            "type": "object"
          },
          "window_position": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer"
              },
              "window_size": {
                "type": "integer"
              }
            }
          },
          "analysis_metadata": {
            "type": "object"
          },
          "linked_trace_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "re_evaluated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "original_verdict": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DriftAlert": {
        "type": "object",
        "properties": {
          "alert_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "checkpoint_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sustained_checks": {
            "type": "integer"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "drift_direction": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "detection_timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConscienceValue": {
        "type": "object",
        "required": [
          "type",
          "name",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BOUNDARY",
              "FEAR",
              "COMMITMENT",
              "BELIEF",
              "HOPE"
            ]
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "EnforcementMode": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "enforcement_mode": {
            "type": "string",
            "enum": [
              "observe",
              "enforce",
              "nudge"
            ],
            "default": "observe"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": [
              "object",
              "null"
            ]
          },
          "plan_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "check_count_this_period": {
            "type": "integer"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount_due": {
            "type": "integer"
          },
          "amount_paid": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "hosted_invoice_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "invoice_pdf": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UsageMetrics": {
        "type": "object",
        "properties": {
          "daily": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rollup_date": {
                  "type": "string",
                  "format": "date"
                },
                "check_count": {
                  "type": "integer"
                },
                "tokens_in": {
                  "type": "integer"
                },
                "tokens_out": {
                  "type": "integer"
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "checks_used": {
                "type": "integer"
              },
              "checks_included": {
                "type": "integer"
              },
              "overage": {
                "type": "integer"
              },
              "estimated_overage_cost": {
                "type": "number"
              },
              "period_start": {
                "type": "string",
                "format": "date-time"
              },
              "period_end": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "billing_model": {
            "type": "string",
            "enum": [
              "none",
              "metered",
              "subscription",
              "subscription_plus_metered"
            ]
          },
          "base_price_cents": {
            "type": "integer"
          },
          "annual_price_cents": {
            "type": "integer"
          },
          "per_check_price": {
            "type": "number"
          },
          "included_checks": {
            "type": "integer"
          },
          "trace_retention_days": {
            "type": "integer"
          },
          "feature_flags": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "limits": {
            "type": "object"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "org_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "billing_account_id": {
            "type": "string"
          },
          "owner_user_id": {
            "type": "string"
          },
          "billing_email": {
            "type": [
              "string",
              "null"
            ]
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "member_count": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrgMember": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member",
              "viewer",
              "auditor"
            ]
          },
          "accepted_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrgInvitation": {
        "type": "object",
        "properties": {
          "invitation_id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "Only returned on creation"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "revoked",
              "expired"
            ]
          },
          "invited_by": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "license_id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "feature_flags": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "limits": {
            "type": "object"
          },
          "max_activations": {
            "type": "integer"
          },
          "is_offline": {
            "type": "boolean"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ApiKeyScope": {
        "type": "string",
        "enum": [
          "gateway",
          "api:read",
          "api:write",
          "admin:org",
          "admin:platform",
          "api"
        ],
        "description": "Capability-based scope (ADR-049). `gateway` permits gateway-worker traffic; `api:read` and `api:write` permit identity-scoped GET and write endpoints respectively; `admin:org` permits org-admin operations on orgs the bearer owns/admins (per-request membership re-check); `admin:platform` permits `/v1/admin/*` Mnemom-staff operations (per-request staff-role re-check). The legacy `api` scope is accepted for backward compatibility and aliased to `api:read` + `api:write` at the auth gate; new keys should use the canonical vocabulary."
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "Full secret key, only returned on creation"
          },
          "key_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyScope"
            },
            "description": "Capabilities granted to this key. Default for new keys is `[\"gateway\", \"api:read\", \"api:write\"]`. Admin scopes (`admin:org`, `admin:platform`) are opt-in and gated by the requester's role at mint time. See [API Keys → Scope vocabulary](https://docs.mnemom.ai/guides/api-keys#scope-vocabulary)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "description": "Webhook endpoint with signing secret (only returned on creation and secret rotation)",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique identifier (whe-xxxxxxxx)"
          },
          "billing_account_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "signing_secret": {
            "type": "string",
            "description": "32-byte hex-encoded HMAC signing secret. Only returned on creation and rotation."
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types. Empty array means all events."
          },
          "is_active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer"
          },
          "disabled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEndpointPublic": {
        "type": "object",
        "description": "Webhook endpoint without signing secret (used in list and get responses)",
        "properties": {
          "endpoint_id": {
            "type": "string"
          },
          "billing_account_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          },
          "consecutive_failures": {
            "type": "integer"
          },
          "disabled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "disabled_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "description": "Webhook delivery log entry",
        "properties": {
          "delivery_id": {
            "type": "string",
            "description": "Unique identifier (whd-xxxxxxxx)"
          },
          "event_id": {
            "type": "string"
          },
          "endpoint_id": {
            "type": "string"
          },
          "event_type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivering",
              "delivered",
              "failed",
              "retrying"
            ]
          },
          "attempt_count": {
            "type": "integer"
          },
          "max_attempts": {
            "type": "integer"
          },
          "last_response_status": {
            "type": [
              "integer",
              "null"
            ],
            "description": "HTTP status code from last delivery attempt"
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "latency_ms": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Round-trip latency in milliseconds"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SigningKeyInfo": {
        "type": "object",
        "description": "Ed25519 signing key metadata. Public keys are used to verify IntegrityCertificate signatures.",
        "properties": {
          "key_id": {
            "type": "string",
            "description": "Unique key identifier"
          },
          "public_key": {
            "type": "string",
            "description": "Hex-encoded Ed25519 public key"
          },
          "algorithm": {
            "type": "string",
            "description": "Signing algorithm (always Ed25519)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was created"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the key is currently in use for new signatures"
          }
        },
        "required": [
          "key_id",
          "public_key",
          "algorithm",
          "created_at",
          "is_active"
        ]
      },
      "IntegrityCertificate": {
        "type": "object",
        "description": "Machine-readable cryptographic certificate for an integrity checkpoint. Modeled on C2PA content credentials and W3C Verifiable Credentials.",
        "properties": {
          "@context": {
            "type": "string",
            "description": "Namespace identifier",
            "enum": [
              "https://mnemom.ai/aip/v1"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "IntegrityCertificate"
            ]
          },
          "version": {
            "type": "string",
            "description": "Certificate format version"
          },
          "certificate_id": {
            "type": "string",
            "description": "Unique certificate identifier (cert-{8 random chars})"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of certificate issuance"
          },
          "subject": {
            "type": "object",
            "description": "Identifies the checkpoint this certificate attests to",
            "properties": {
              "checkpoint_id": {
                "type": "string",
                "description": "Integrity checkpoint ID (ic-{uuid})"
              },
              "agent_id": {
                "type": "string"
              },
              "session_id": {
                "type": "string"
              },
              "card_id": {
                "type": "string"
              }
            },
            "required": [
              "checkpoint_id",
              "agent_id",
              "session_id",
              "card_id"
            ]
          },
          "claims": {
            "type": "object",
            "description": "Analysis verdict and supporting evidence",
            "properties": {
              "verdict": {
                "type": "string",
                "enum": [
                  "clear",
                  "review_needed",
                  "boundary_violation"
                ]
              },
              "concerns": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "confidence": {
                "type": "number",
                "description": "Extraction confidence (0.0-1.0)"
              },
              "reasoning_summary": {
                "type": "string"
              },
              "analysis_model": {
                "type": "string"
              },
              "analysis_duration_ms": {
                "type": "number"
              }
            }
          },
          "input_commitments": {
            "type": "object",
            "description": "Cryptographic commitments to analysis inputs",
            "properties": {
              "thinking_block_hash": {
                "type": "string",
                "description": "SHA-256 hash of the thinking block"
              },
              "card_hash": {
                "type": "string",
                "description": "SHA-256 hash of the Alignment Card"
              },
              "values_hash": {
                "type": "string",
                "description": "SHA-256 hash of conscience values"
              },
              "context_hash": {
                "type": "string",
                "description": "SHA-256 hash of window context"
              },
              "model_version": {
                "type": "string"
              },
              "combined_commitment": {
                "type": "string",
                "description": "SHA-256 of all input fields concatenated"
              }
            }
          },
          "proofs": {
            "type": "object",
            "description": "Cryptographic evidence supporting the claims",
            "properties": {
              "signature": {
                "type": "object",
                "properties": {
                  "algorithm": {
                    "type": "string",
                    "enum": [
                      "Ed25519"
                    ]
                  },
                  "key_id": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "Base64-encoded Ed25519 signature"
                  },
                  "signed_payload": {
                    "type": "string",
                    "description": "Deterministic JSON string that was signed"
                  }
                }
              },
              "chain": {
                "type": "object",
                "properties": {
                  "chain_hash": {
                    "type": "string"
                  },
                  "prev_chain_hash": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "position": {
                    "type": "integer"
                  }
                }
              },
              "merkle": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Merkle inclusion proof. Null if not yet added to tree.",
                "properties": {
                  "leaf_hash": {
                    "type": "string"
                  },
                  "leaf_index": {
                    "type": "integer"
                  },
                  "root": {
                    "type": "string"
                  },
                  "tree_size": {
                    "type": "integer"
                  },
                  "inclusion_proof": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string"
                        },
                        "position": {
                          "type": "string",
                          "enum": [
                            "left",
                            "right"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "verdict_derivation": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "SP1 STARK proof. Null if not yet proven.",
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "SP1-STARK"
                    ]
                  },
                  "image_id": {
                    "type": "string"
                  },
                  "receipt": {
                    "type": "string",
                    "description": "Base64-encoded STARK proof receipt"
                  },
                  "journal": {
                    "type": "string",
                    "description": "Base64-encoded public journal"
                  },
                  "verified_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "verification": {
            "type": "object",
            "description": "URLs for independent verification",
            "properties": {
              "keys_url": {
                "type": "string",
                "format": "uri"
              },
              "certificate_url": {
                "type": "string",
                "format": "uri"
              },
              "verify_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        },
        "required": [
          "@context",
          "type",
          "version",
          "certificate_id",
          "issued_at",
          "subject",
          "claims",
          "input_commitments",
          "proofs",
          "verification"
        ]
      },
      "MerkleRootResponse": {
        "type": "object",
        "description": "Current Merkle tree root and metadata for an agent",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The agent ID"
          },
          "merkle_root": {
            "type": "string",
            "description": "SHA-256 Merkle root hash (hex-encoded)"
          },
          "tree_depth": {
            "type": "integer",
            "description": "Depth of the Merkle tree (ceil(log2(leaf_count)))"
          },
          "leaf_count": {
            "type": "integer",
            "description": "Total number of checkpoint leaves in the tree"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "description": "When the tree was last updated"
          }
        },
        "required": [
          "agent_id",
          "merkle_root",
          "tree_depth",
          "leaf_count",
          "last_updated"
        ]
      },
      "InclusionProofResponse": {
        "type": "object",
        "description": "Merkle inclusion proof for a checkpoint",
        "properties": {
          "checkpoint_id": {
            "type": "string",
            "description": "The checkpoint ID"
          },
          "leaf_hash": {
            "type": "string",
            "description": "SHA-256 leaf hash of this checkpoint"
          },
          "leaf_index": {
            "type": "integer",
            "description": "Index of this leaf in the tree"
          },
          "siblings": {
            "type": "array",
            "description": "O(log N) sibling hashes for proof verification",
            "items": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "Hex-encoded sibling hash"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "left",
                    "right"
                  ],
                  "description": "Position of sibling relative to the path node"
                }
              },
              "required": [
                "hash",
                "position"
              ]
            }
          },
          "root": {
            "type": "string",
            "description": "Current Merkle root (hex-encoded)"
          },
          "tree_size": {
            "type": "integer",
            "description": "Total number of leaves in the tree"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the proof was verified against the stored root"
          }
        },
        "required": [
          "checkpoint_id",
          "leaf_hash",
          "leaf_index",
          "siblings",
          "root",
          "tree_size",
          "verified"
        ]
      },
      "ProofStatusResponse": {
        "type": "object",
        "description": "ZK proof status and metadata for a checkpoint",
        "properties": {
          "proof_id": {
            "type": "string",
            "description": "Proof identifier (prf-{8 random chars})"
          },
          "checkpoint_id": {
            "type": "string",
            "description": "The checkpoint this proof is for"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "proving",
              "completed",
              "failed"
            ],
            "description": "Current proof status"
          },
          "proof_type": {
            "type": "string",
            "description": "Proof system (e.g., sp1-stark)"
          },
          "image_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Guest program image ID (set when proving begins)"
          },
          "proving_duration_ms": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Wall-clock proving time in milliseconds (set when completed)"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the proof has been verified"
          },
          "verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the proof was verified (null if not yet verified)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the proof request was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the proof record was last updated"
          }
        },
        "required": [
          "proof_id",
          "checkpoint_id",
          "status",
          "proof_type",
          "verified",
          "created_at",
          "updated_at"
        ]
      },
      "VerifyCertificateResponse": {
        "type": "object",
        "description": "Result of certificate verification",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether all verification checks passed"
          },
          "checks": {
            "type": "object",
            "description": "Individual verification check results",
            "properties": {
              "signature": {
                "type": "object",
                "properties": {
                  "valid": {
                    "type": "boolean"
                  },
                  "key_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "valid",
                  "key_id"
                ]
              },
              "chain": {
                "type": "object",
                "properties": {
                  "valid": {
                    "type": "boolean"
                  },
                  "chain_hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "valid",
                  "chain_hash"
                ]
              },
              "merkle": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Null if Merkle proof was not present in the certificate",
                "properties": {
                  "valid": {
                    "type": "boolean"
                  },
                  "root": {
                    "type": "string"
                  }
                }
              },
              "input_commitment": {
                "type": "object",
                "properties": {
                  "valid": {
                    "type": "boolean"
                  },
                  "commitment": {
                    "type": "string"
                  }
                },
                "required": [
                  "valid",
                  "commitment"
                ]
              },
              "verdict_derivation": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Null if verdict derivation proof was not present",
                "properties": {
                  "valid": {
                    "type": "boolean"
                  },
                  "method": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "signature",
              "chain",
              "input_commitment"
            ]
          },
          "details": {
            "type": "string",
            "description": "Semicolon-separated human-readable verification details"
          }
        },
        "required": [
          "valid",
          "checks",
          "details"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "OrgConscienceValue": {
        "type": "object",
        "description": "A custom conscience value for an organization",
        "properties": {
          "id": {
            "type": "string",
            "description": "Value ID (cv-xxx)"
          },
          "org_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "type": {
            "type": "string",
            "enum": [
              "BOUNDARY",
              "FEAR",
              "COMMITMENT",
              "BELIEF",
              "HOPE"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "advisory",
              "mandatory"
            ]
          },
          "scope": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          },
          "created_by": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "org_id",
          "name",
          "description",
          "type",
          "severity"
        ]
      },
      "OrgConscienceAuditEntry": {
        "type": "object",
        "description": "Audit log entry for conscience value changes",
        "properties": {
          "id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "value_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete",
              "activate",
              "deactivate",
              "reorder",
              "mode_change"
            ]
          },
          "actor": {
            "type": "string"
          },
          "changes": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "org_id",
          "action",
          "actor",
          "created_at"
        ]
      },
      "OrgCardTemplate": {
        "type": "object",
        "description": "Organization alignment card template that all agents inherit",
        "properties": {
          "org_id": {
            "type": "string",
            "description": "Organization ID"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the template is active"
          },
          "template": {
            "$ref": "#/components/schemas/AlignmentCard",
            "description": "The alignment card template JSON"
          },
          "created_by": {
            "type": "string",
            "description": "User ID who created the template"
          },
          "updated_by": {
            "type": "string",
            "description": "User ID who last updated the template"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "org_id",
          "enabled",
          "template"
        ]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Team identifier (UUID)"
          },
          "org_id": {
            "type": "string",
            "description": "Organization that owns this team"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ],
            "description": "Team status"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Freeform metadata"
          },
          "member_count": {
            "type": "integer",
            "description": "Number of active members"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "agent_name": {
            "type": "string"
          },
          "added_at": {
            "type": "string",
            "format": "date-time"
          },
          "removed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "TeamRosterChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "change_type": {
            "type": "string",
            "enum": [
              "agent_added",
              "agent_removed"
            ]
          },
          "agent_id": {
            "type": "string"
          },
          "actor_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TeamReputationScore": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string"
          },
          "team_name": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "0-1000"
          },
          "grade": {
            "type": "string",
            "enum": [
              "AAA",
              "AA",
              "A",
              "BBB",
              "BB",
              "B",
              "CCC",
              "NR"
            ]
          },
          "confidence": {
            "type": "string",
            "enum": [
              "insufficient",
              "low",
              "medium",
              "high"
            ]
          },
          "is_eligible": {
            "type": "boolean",
            "description": "true when total_assessments >= 10"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamReputationComponent"
            }
          },
          "total_assessments": {
            "type": "integer"
          },
          "last_assessed": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "trend_30d": {
            "type": "number"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ]
          },
          "computed_at": {
            "type": "string",
            "format": "date-time"
          },
          "member_count": {
            "type": "integer"
          },
          "a2a_trust_extension": {
            "$ref": "#/components/schemas/A2ATeamTrustExtension"
          }
        }
      },
      "TeamReputationComponent": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "coherence_history",
              "member_quality",
              "operational_record",
              "structural_stability",
              "assessment_density"
            ]
          },
          "label": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Raw score 0-1000"
          },
          "weight": {
            "type": "number",
            "description": "Weight 0-1"
          },
          "weighted_score": {
            "type": "number",
            "description": "score * weight"
          },
          "factors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "A2ATeamTrustExtension": {
        "type": "object",
        "properties": {
          "extension_uri": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "grade": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "member_count": {
            "type": "integer"
          },
          "verified_url": {
            "type": "string",
            "format": "uri"
          },
          "badge_url": {
            "type": "string",
            "format": "uri"
          },
          "methodology_url": {
            "type": "string",
            "format": "uri"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TeamReputationSnapshot": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string"
          },
          "week_start": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "number"
          },
          "grade": {
            "type": "string"
          },
          "components": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PolicyMeta": {
        "type": "object",
        "description": "Metadata for a CLPI policy including schema version, name, description, and scope.",
        "properties": {
          "schema_version": {
            "type": "string",
            "description": "Semantic version of the policy schema (e.g. '1.0.0')"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the policy's purpose"
          },
          "scope": {
            "type": "string",
            "enum": [
              "agent",
              "org",
              "global"
            ],
            "description": "Scope at which the policy applies"
          }
        }
      },
      "CapabilityMapping": {
        "type": "object",
        "description": "Maps a named capability to specific tools and alignment card actions.",
        "properties": {
          "description": {
            "type": "string",
            "description": "Human-readable description of what this capability represents"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tool identifiers that belong to this capability"
          },
          "card_actions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alignment card action types associated with this capability"
          }
        }
      },
      "ForbiddenRule": {
        "type": "object",
        "description": "A rule that forbids tools matching a specific pattern.",
        "required": [
          "pattern",
          "reason"
        ],
        "properties": {
          "pattern": {
            "type": "string",
            "description": "Glob or regex pattern matching tool identifiers to forbid"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable reason why these tools are forbidden"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "default": "high",
            "description": "Severity level when a forbidden tool is invoked"
          }
        }
      },
      "EscalationTrigger": {
        "type": "object",
        "description": "Defines a condition that triggers an escalation action.",
        "required": [
          "condition",
          "action"
        ],
        "properties": {
          "condition": {
            "type": "string",
            "description": "Expression or rule describing when this trigger fires (e.g. 'violation_count > 3')"
          },
          "action": {
            "type": "string",
            "enum": [
              "notify",
              "pause",
              "block",
              "require_approval"
            ],
            "description": "Action to take when the condition is met"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of why this escalation exists"
          }
        }
      },
      "PolicyDefaults": {
        "type": "object",
        "description": "Default enforcement behavior for tools and situations not explicitly covered by the policy.",
        "properties": {
          "unmapped_tool_action": {
            "type": "string",
            "enum": [
              "allow",
              "warn",
              "block",
              "escalate"
            ],
            "default": "warn",
            "description": "Action to take when a tool is not mapped to any capability"
          },
          "unmapped_severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "default": "medium",
            "description": "Severity level assigned to unmapped tool invocations"
          },
          "fail_open": {
            "type": "boolean",
            "default": false,
            "description": "If true, allow actions when the policy engine is unavailable. If false, block by default."
          },
          "enforcement_mode": {
            "type": "string",
            "enum": [
              "observe",
              "enforce",
              "nudge"
            ],
            "default": "observe",
            "description": "Default enforcement mode for the policy"
          },
          "grace_period_hours": {
            "type": "integer",
            "default": 0,
            "description": "Number of hours to allow violations before enforcement kicks in (for new policy rollouts)"
          }
        }
      },
      "Policy": {
        "type": "object",
        "description": "A complete CLPI policy document defining capability mappings, forbidden tools, escalation triggers, and enforcement defaults.",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PolicyMeta"
          },
          "capability_mappings": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CapabilityMapping"
            },
            "description": "Map of capability names to their definitions"
          },
          "forbidden": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForbiddenRule"
            },
            "description": "List of forbidden tool rules"
          },
          "escalation_triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EscalationTrigger"
            },
            "description": "List of escalation trigger definitions"
          },
          "defaults": {
            "$ref": "#/components/schemas/PolicyDefaults"
          }
        }
      },
      "PolicyViolation": {
        "type": "object",
        "description": "A single policy violation detected during evaluation.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "forbidden",
              "unmapped",
              "escalation",
              "capability_mismatch"
            ],
            "description": "Type of policy violation"
          },
          "tool": {
            "type": "string",
            "description": "Tool identifier that triggered the violation"
          },
          "capability": {
            "type": [
              "string",
              "null"
            ],
            "description": "Capability the tool was mapped to, if any"
          },
          "rule": {
            "type": [
              "string",
              "null"
            ],
            "description": "The specific rule or pattern that was matched"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of the violation"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Severity level of the violation"
          }
        }
      },
      "PolicyEvaluationResult": {
        "type": "object",
        "description": "Result of evaluating a CLPI policy against a set of tools or traces.",
        "properties": {
          "verdict": {
            "type": "string",
            "enum": [
              "pass",
              "warn",
              "fail"
            ],
            "description": "Overall evaluation verdict"
          },
          "violations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyViolation"
            },
            "description": "List of policy violations detected"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tool": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            },
            "description": "Non-blocking warnings about potential issues"
          },
          "card_gaps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "capability": {
                  "type": "string"
                },
                "missing_card_field": {
                  "type": "string"
                },
                "suggestion": {
                  "type": "string"
                }
              }
            },
            "description": "Gaps between the policy and the alignment card"
          },
          "coverage": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Fraction of tools covered by the policy (0.0 to 1.0)"
          }
        }
      },
      "ReclassificationRequest": {
        "type": "object",
        "description": "Request to reclassify a checkpoint violation.",
        "required": [
          "checkpoint_id",
          "reason"
        ],
        "properties": {
          "checkpoint_id": {
            "type": "string",
            "description": "Identifier of the checkpoint to reclassify"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable justification for the reclassification"
          },
          "card_amendment_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional ID of an alignment card amendment that triggered this reclassification"
          }
        }
      },
      "ReclassificationResult": {
        "type": "object",
        "description": "Result of a checkpoint violation reclassification.",
        "properties": {
          "reclassification_id": {
            "type": "string",
            "description": "Unique identifier for this reclassification"
          },
          "checkpoint_id": {
            "type": "string",
            "description": "Identifier of the reclassified checkpoint"
          },
          "agent_id": {
            "type": "string",
            "description": "Agent whose checkpoint was reclassified"
          },
          "original_type": {
            "type": "string",
            "description": "Original violation type before reclassification"
          },
          "new_type": {
            "type": "string",
            "description": "New violation type after reclassification"
          },
          "reason": {
            "type": "string",
            "description": "Justification provided for the reclassification"
          },
          "score_impact": {
            "type": "object",
            "properties": {
              "previous_score": {
                "type": "number"
              },
              "new_score": {
                "type": "number"
              },
              "delta": {
                "type": "number"
              }
            },
            "description": "Impact of the reclassification on the agent's score"
          }
        }
      },
      "FaultLine": {
        "type": "object",
        "description": "A single fault line identified in team alignment analysis.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this fault line"
          },
          "value": {
            "type": "string",
            "description": "The specific value, capability, or constraint that constitutes the fault line"
          },
          "classification": {
            "type": "string",
            "enum": [
              "capability_gap",
              "value_mismatch",
              "constraint_inconsistency",
              "tool_divergence",
              "policy_conflict"
            ],
            "description": "Classification of the fault line type"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Severity of the fault line"
          },
          "agents_declaring": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that declare or satisfy this requirement"
          },
          "agents_missing": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that are missing this requirement"
          },
          "impact_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Estimated impact of this fault line on team alignment (0.0 to 1.0)"
          },
          "resolution_hint": {
            "type": "string",
            "description": "Suggested action to resolve this fault line"
          }
        }
      },
      "FaultLineAnalysis": {
        "type": "object",
        "description": "Complete fault line analysis result for a team.",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "Team that was analyzed"
          },
          "analysis_id": {
            "type": "string",
            "description": "Unique identifier for this analysis run"
          },
          "fleet_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Overall fleet alignment score (0-100)"
          },
          "fault_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FaultLine"
            },
            "description": "Identified fault lines sorted by severity"
          },
          "summary": {
            "type": "string",
            "description": "Human-readable summary of the analysis findings"
          }
        }
      },
      "RiskForecast": {
        "type": "object",
        "description": "Risk forecast for a team based on alignment trends and fault lines.",
        "properties": {
          "forecast_id": {
            "type": "string",
            "description": "Unique identifier for this forecast"
          },
          "failure_modes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mode": {
                  "type": "string",
                  "description": "Description of the potential failure mode"
                },
                "probability": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1,
                  "description": "Estimated probability of occurrence"
                },
                "impact": {
                  "type": "string",
                  "enum": [
                    "low",
                    "medium",
                    "high",
                    "critical"
                  ],
                  "description": "Estimated impact if the failure occurs"
                },
                "contributing_factors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Factors contributing to this risk"
                },
                "mitigation": {
                  "type": "string",
                  "description": "Suggested mitigation action"
                }
              }
            },
            "description": "Ranked list of potential failure modes"
          },
          "overall_risk_level": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Overall risk level for the team"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence level of the forecast (0.0 to 1.0)"
          }
        }
      },
      "OnChainAnchorResult": {
        "type": "object",
        "description": "Result of an on-chain Merkle root anchoring operation.",
        "properties": {
          "anchor_id": {
            "type": "string",
            "description": "Unique identifier for this anchor"
          },
          "merkle_root": {
            "type": "string",
            "description": "Hex-encoded Merkle root hash that was anchored"
          },
          "tx_hash": {
            "type": "string",
            "description": "Blockchain transaction hash"
          },
          "block_number": {
            "type": "integer",
            "description": "Block number in which the transaction was included"
          },
          "gas_used": {
            "type": "integer",
            "description": "Gas consumed by the anchoring transaction"
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "polygon",
              "base"
            ],
            "description": "Blockchain network where the anchor was created"
          },
          "agent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs included in this anchor"
          },
          "anchored_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the anchor was created"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "app_metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "user_metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "description": "Supabase user shape. Fields beyond `id` and `email` are passthrough."
      },
      "PublicKeyCredentialCreationOptionsJSON": {
        "type": "object",
        "description": "WebAuthn registration options (base64url-encoded per the WebAuthn Level 3 JSON serialization).",
        "properties": {
          "rp": {
            "type": "object",
            "required": [
              "id",
              "name"
            ]
          },
          "user": {
            "type": "object",
            "required": [
              "id",
              "name",
              "displayName"
            ]
          },
          "challenge": {
            "type": "string"
          },
          "pubKeyCredParams": {
            "type": "array"
          },
          "authenticatorSelection": {
            "type": "object"
          },
          "attestation": {
            "type": "string"
          },
          "excludeCredentials": {
            "type": "array"
          },
          "timeout": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "PublicKeyCredentialRequestOptionsJSON": {
        "type": "object",
        "description": "WebAuthn authentication options.",
        "properties": {
          "rpId": {
            "type": "string"
          },
          "challenge": {
            "type": "string"
          },
          "userVerification": {
            "type": "string"
          },
          "allowCredentials": {
            "type": "array"
          },
          "timeout": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "RegistrationResponseJSON": {
        "type": "object",
        "description": "Browser's `navigator.credentials.create()` response, JSON-serialized per the WebAuthn Level 3 JSON form.",
        "properties": {
          "id": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public-key"
            ]
          },
          "response": {
            "type": "object"
          },
          "clientExtensionResults": {
            "type": "object"
          },
          "authenticatorAttachment": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "rawId",
          "type",
          "response"
        ],
        "additionalProperties": true
      },
      "AuthenticationResponseJSON": {
        "type": "object",
        "description": "Browser's `navigator.credentials.get()` response, JSON-serialized.",
        "properties": {
          "id": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public-key"
            ]
          },
          "response": {
            "type": "object"
          },
          "clientExtensionResults": {
            "type": "object"
          },
          "authenticatorAttachment": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "rawId",
          "type",
          "response"
        ],
        "additionalProperties": true
      },
      "UnifiedAlignmentCard": {
        "type": "object",
        "description": "UC-4 unified alignment card (ADR-008). Authored in YAML or JSON; composed server-side with platform defaults, org template, and active exemptions before storage.",
        "required": [
          "card_version",
          "agent_id",
          "values",
          "autonomy",
          "audit"
        ],
        "properties": {
          "card_version": {
            "type": "string",
            "description": "Card schema version (e.g. `0.5.0`)."
          },
          "card_id": {
            "type": "string",
            "description": "Card row id. Server-assigned on PUT (`ac-{uuid}`)."
          },
          "agent_id": {
            "type": "string",
            "description": "Target agent id. On PUT, server overwrites to match the URL path."
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "principal": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "human",
                  "organization",
                  "agent",
                  "unspecified"
                ]
              },
              "identifier": {
                "type": "string"
              },
              "relationship": {
                "type": "string",
                "enum": [
                  "delegated_authority",
                  "advisory",
                  "autonomous"
                ]
              },
              "escalation_contact": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "relationship"
            ]
          },
          "values": {
            "type": "object",
            "required": [
              "declared"
            ],
            "properties": {
              "declared": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string"
                },
                "description": "Ordered list of declared values (e.g. `['helpfulness','honesty','harmlessness']`)."
              },
              "definitions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "integer"
                    }
                  }
                }
              },
              "conflicts_with": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hierarchy": {
                "type": "string",
                "enum": [
                  "lexicographic",
                  "weighted",
                  "contextual"
                ]
              }
            }
          },
          "conscience": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "augment",
                  "replace"
                ]
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "content"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "BOUNDARY",
                        "FEAR",
                        "COMMITMENT",
                        "BELIEF",
                        "HOPE"
                      ]
                    },
                    "content": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "advisory",
                        "mandatory"
                      ]
                    }
                  }
                }
              }
            },
            "required": [
              "mode",
              "values"
            ]
          },
          "integrity": {
            "type": "object",
            "properties": {
              "enforcement_mode": {
                "type": "string",
                "enum": [
                  "observe",
                  "nudge",
                  "enforce"
                ]
              }
            }
          },
          "autonomy": {
            "type": "object",
            "required": [
              "bounded_actions",
              "escalation_triggers"
            ],
            "properties": {
              "bounded_actions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "forbidden_actions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "escalation_triggers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "condition",
                    "action",
                    "reason"
                  ],
                  "properties": {
                    "condition": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "escalate",
                        "deny",
                        "log"
                      ]
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              },
              "max_autonomous_value": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "required_actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "enforcement": {
            "type": "object",
            "properties": {
              "forbidden_tools": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "pattern",
                    "reason",
                    "severity"
                  ],
                  "properties": {
                    "pattern": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "critical",
                        "high",
                        "medium",
                        "low"
                      ]
                    }
                  }
                }
              },
              "unmapped_tool_action": {
                "type": "string",
                "enum": [
                  "allow",
                  "deny",
                  "warn"
                ]
              },
              "fail_open": {
                "type": "boolean"
              },
              "mode": {
                "type": "string",
                "enum": [
                  "off",
                  "warn",
                  "enforce"
                ]
              },
              "grace_period_hours": {
                "type": "integer"
              }
            }
          },
          "audit": {
            "type": "object",
            "required": [
              "retention_days",
              "queryable"
            ],
            "properties": {
              "trace_format": {
                "type": "string"
              },
              "retention_days": {
                "type": "integer"
              },
              "queryable": {
                "type": "boolean"
              },
              "query_endpoint": {
                "type": "string"
              },
              "tamper_evidence": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "append_only",
                  "signed",
                  "merkle",
                  null
                ]
              },
              "storage": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "local",
                      "remote",
                      "distributed"
                    ]
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true
          },
          "_composition": {
            "$ref": "#/components/schemas/CompositionMetadata"
          }
        }
      },
      "UnifiedProtectionCard": {
        "type": "object",
        "description": "UC-4 unified protection card (ADR-008). Safe House thresholds + trusted-source policy for a single agent.",
        "required": [
          "card_version",
          "agent_id",
          "mode",
          "thresholds",
          "screen_surfaces",
          "trusted_sources"
        ],
        "properties": {
          "card_version": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "off",
              "observe",
              "enforce",
              "enforce_sync",
              "sovereign"
            ]
          },
          "thresholds": {
            "type": "object",
            "required": [
              "warn",
              "quarantine",
              "block"
            ],
            "properties": {
              "warn": {
                "type": "number"
              },
              "quarantine": {
                "type": "number"
              },
              "block": {
                "type": "number"
              }
            }
          },
          "screen_surfaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "trusted_sources": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "pattern",
                "trust_tier",
                "risk_multiplier"
              ],
              "properties": {
                "pattern": {
                  "type": "string"
                },
                "trust_tier": {
                  "type": "string",
                  "enum": [
                    "high",
                    "medium",
                    "low",
                    "unknown"
                  ]
                },
                "risk_multiplier": {
                  "type": "number"
                }
              }
            }
          },
          "_composition": {
            "$ref": "#/components/schemas/CompositionMetadata"
          }
        }
      },
      "CompositionMetadata": {
        "type": "object",
        "description": "System-managed block describing which scope sources merged into the canonical card. Only returned when `?include_composition=true`.",
        "properties": {
          "canonical_id": {
            "type": "string"
          },
          "composed_at": {
            "type": "string",
            "format": "date-time"
          },
          "scopes_applied": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scope": {
                  "type": "string",
                  "description": "`platform`, `org:<id>`, or `agent:<id>`."
                },
                "version": {
                  "type": "integer"
                },
                "template_version": {
                  "type": "integer"
                },
                "card_id": {
                  "type": "string"
                }
              }
            }
          },
          "exemptions_applied": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source_card_id": {
            "type": "string"
          },
          "source_policy_id": {
            "type": "string"
          }
        }
      },
      "AgentExemption": {
        "type": "object",
        "description": "A single exemption row relaxing an org-template floor for one agent (UC-4, ADR-008).",
        "required": [
          "id",
          "agent_id",
          "exempt_section",
          "reason",
          "granted_by",
          "granted_at",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "exempt_section": {
            "type": "string",
            "enum": [
              "autonomy.forbidden_actions",
              "enforcement.forbidden_tools",
              "autonomy.max_autonomous_value"
            ]
          },
          "exempt_patterns": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "granted_by": {
            "type": "string"
          },
          "granted_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active"
            ],
            "description": "Always `active` in UC-4 (forward-compat stub for future dual-control approval workflow)."
          }
        }
      },
      "OrgCardTemplateResponse": {
        "type": "object",
        "required": [
          "org_id",
          "template",
          "enabled"
        ],
        "properties": {
          "org_id": {
            "type": "string"
          },
          "template": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/UnifiedAlignmentCard"
              },
              {
                "$ref": "#/components/schemas/UnifiedProtectionCard"
              },
              {
                "type": "null"
              }
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "AgentSettings": {
        "type": "object",
        "description": "Per-agent observability + enforcement knobs.",
        "required": [
          "agent_id",
          "aap_enabled",
          "aip_enabled",
          "proof_enabled",
          "proof_rate",
          "nudge_strategy",
          "ddr_mode",
          "analyze_output"
        ],
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "aap_enabled": {
            "type": "boolean"
          },
          "aip_enabled": {
            "type": "boolean"
          },
          "proof_enabled": {
            "type": "boolean"
          },
          "proof_rate": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "nudge_strategy": {
            "type": "string",
            "enum": [
              "always",
              "sampling",
              "threshold",
              "off"
            ]
          },
          "ddr_mode": {
            "type": "string",
            "enum": [
              "off",
              "flag",
              "auto-suggest",
              "auto-apply"
            ]
          },
          "analyze_output": {
            "type": "boolean"
          }
        }
      },
      "DeletionRequestStatus": {
        "type": "object",
        "description": "Tracks progress of the async GDPR Art. 17 deletion cascade (ADR-021).",
        "required": [
          "deletion_request_id",
          "status",
          "requested_at",
          "retry_count"
        ],
        "properties": {
          "deletion_request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "tombstoned",
              "phase_1_complete",
              "phase_2_complete",
              "phase_3_complete",
              "phase_4_complete",
              "kv_cleared",
              "pseudonymized",
              "complete",
              "failed"
            ]
          },
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "failed_phase": {
            "type": [
              "string",
              "null"
            ]
          },
          "failed_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "DisagreementReview": {
        "type": "object",
        "description": "Row from `disagreement_reviews` — a human-adjudicable action that failed to find consensus during enforcement.",
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "review",
              "applied",
              "dismissed"
            ]
          },
[...]
