{
  "openapi": "3.1.0",
  "info": {
    "title": "Mnemom API",
    "version": "1.0.0",
    "description": "The trust plane for the agentic internet. Transparent alignment verification, behavioral drift detection, and accountability protocols.",
    "contact": {
      "name": "Mnemom",
      "url": "https://mnemom.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.mnemom.ai/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Agent CRUD, alignment card, claim, and link operations"
    },
    {
      "name": "Traces",
      "description": "Query and retrieve alignment protocol traces"
    },
    {
      "name": "Integrity",
      "description": "AAP integrity score, AIP integrity score, SSM similarity"
    },
    {
      "name": "Checkpoints",
      "description": "AIP integrity checkpoints: list, get, reverify"
    },
    {
      "name": "Drift",
      "description": "AAP drift alerts and AIP drift alerts"
    },
    {
      "name": "Enforcement",
      "description": "Enforcement mode get/set, conscience values CRUD, resolutions"
    },
    {
      "name": "Webhooks",
      "description": "AIP webhook registration and management"
    },
    {
      "name": "Auth",
      "description": "User authentication: sign-up / sign-in / sign-out, session cookie lifecycle, MFA enrollment and verification, SSO (domain check, initiate, callback), password recovery, email confirmation, and CLI token exchange. See ADR-024 for the session cookie architecture."
    },
    {
      "name": "Billing",
      "description": "Checkout, portal, subscription, cancel, reactivate, change-plan, invoices, usage, budget alerts, promo validation, API keys, plans, features, enterprise contact"
    },
    {
      "name": "Organizations",
      "description": "Organization CRUD, members, invitations, agents, API keys, SSO configuration"
    },
    {
      "name": "Admin",
      "description": "Admin stats, usage, users, agents, costs, revenue, customers, licenses, coupons, exports, impersonation, suspend/unsuspend"
    },
    {
      "name": "Licensing",
      "description": "License validation (public) and admin license CRUD"
    },
    {
      "name": "Analyze",
      "description": "Single and batch integrity analysis via API key"
    },
    {
      "name": "Blog",
      "description": "Blog posts listing, retrieval, creation, and author profiles"
    },
    {
      "name": "Webhook Notifications",
      "description": "Organization-level webhook endpoints for real-time HTTP POST notifications of integrity, drift, conscience, and billing events"
    },
    {
      "name": "Verification",
      "description": "Public cryptographic verification endpoints for integrity certificates, Merkle proofs, signing keys, and ZK verdict proofs"
    },
    {
      "name": "Agent Containment",
      "description": "Pause, resume, kill, and reactivate agents. Manage auto-containment policies and view containment audit logs."
    },
    {
      "name": "Conscience Values",
      "description": "Per-org custom conscience values for alignment policy injection (Enterprise)"
    },
    {
      "name": "Card Templates",
      "description": "Organization-level alignment card templates that all agents inherit (Enterprise)"
    },
    {
      "name": "Teams",
      "description": "Team CRUD, member management, roster history, and team alignment cards"
    },
    {
      "name": "Team Reputation",
      "description": "Team reputation scores, history, cryptographic verification, and embeddable badges"
    },
    {
      "name": "Policy",
      "description": "Policy management endpoints for agents and organizations. Define capability mappings, forbidden tools, escalation triggers, and enforcement defaults."
    },
    {
      "name": "Reclassification",
      "description": "Violation reclassification and trust recovery. Reclassify checkpoint violations, trigger score recomputation, and export compliance records."
    },
    {
      "name": "Intelligence",
      "description": "Fault line analysis, risk forecasting, and policy recommendations. Analyze team alignment gaps, forecast failure modes, and generate policy suggestions."
    },
    {
      "name": "On-Chain",
      "description": "On-chain Merkle root anchoring and score publishing. Anchor integrity proofs to blockchain, publish scores, and verify on-chain proofs."
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/agents": {
      "post": {
        "operationId": "registerAgent",
        "summary": "Register a new agent",
        "description": "Register a new agent with a name and hash proof. Optionally attach an alignment card and policy.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "hash_proof"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Agent name. 2-32 characters, alphanumeric and hyphens only, must start and end with alphanumeric.",
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,30}[a-zA-Z0-9]$",
                    "minLength": 2,
                    "maxLength": 32,
                    "example": "my-agent"
                  },
                  "hash_proof": {
                    "type": "string",
                    "description": "SHA256 hex string used to derive the agent ID and hash.",
                    "minLength": 16,
                    "example": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2"
                  },
                  "card_json": {
                    "type": "object",
                    "description": "Optional alignment card JSON to attach on creation.",
                    "additionalProperties": true
                  },
                  "policy_yaml": {
                    "type": "string",
                    "description": "Optional YAML policy string to create alongside the agent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Agent ID (e.g. smolt-abc12345)",
                      "example": "smolt-a1b2c3d4"
                    },
                    "agent_hash": {
                      "type": "string",
                      "description": "First 16 characters of the hash_proof"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "card_id": {
                      "type": "string",
                      "description": "ID of the created alignment card"
                    },
                    "policy_created": {
                      "type": "boolean",
                      "description": "Whether a policy was created from the provided policy_yaml"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Agent with this hash already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAgents",
        "summary": "List your agents",
        "description": "List all agents owned by the authenticated user. Supports pagination.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Maximum number of agents to return (max 100)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of agents to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of agents owned by the user"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get agent by ID",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details. Private agents return a limited response to non-owners.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateAgent",
        "summary": "Update agent name",
        "description": "Update the name of an agent you own.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New agent name. 2-32 characters, alphanumeric and hyphens only.",
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,30}[a-zA-Z0-9]$",
                    "minLength": 2,
                    "maxLength": 32
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated agent record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner of this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deactivateAgent",
        "summary": "Deactivate agent",
        "description": "Soft-delete an agent by setting its status to deactivated and unlinking it from your account.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deactivated": {
                      "type": "boolean",
                      "example": true
                    },
                    "agent_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not the owner of this agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/claim": {
      "post": {
        "operationId": "claimAgent",
        "summary": "Claim agent with hash proof",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hash_proof"
                ],
                "properties": {
                  "hash_proof": {
                    "type": "string",
                    "description": "SHA-256 hash of agent API key"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent claimed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claimed": {
                      "type": "boolean"
                    },
                    "agent_id": {
                      "type": "string"
                    },
                    "claimed_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Agent already claimed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}/link": {
      "post": {
        "operationId": "linkAgent",
        "summary": "Link claimed agent to authenticated user",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hash_proof"
                ],
                "properties": {
                  "hash_proof": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linked": {
                      "type": "boolean"
                    },
                    "agent_id": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Agent already linked to another account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}/rekey": {
      "post": {
        "operationId": "rekeyAgent",
        "summary": "Re-bind agent to a new API key",
        "description": "Updates the agent's key binding to a new provider API key hash. The agent ID, traces, alignment card, integrity score, and trust edges are fully preserved.\n\n**Security model**: Your API key is hashed on your device (SHA-256) before transmission — the raw key is never sent to Mnemom servers.\n\n**Named agents**: If this agent was registered with a name (via `x-mnemom-agent`), hash the new key as `SHA256(newKey + '|' + agentName)` before submitting.\n\n**Conflict**: If the new key was already used and auto-created a new agent, the endpoint returns `409` with the conflicting agent ID.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_key_hash"
                ],
                "properties": {
                  "new_key_hash": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{16}$",
                    "description": "First 16 hex characters of SHA256(newApiKey) for unnamed agents, or SHA256(newApiKey + '|' + agentName) for named agents. Compute client-side — do not transmit the raw key.",
                    "example": "a3f8c1d9e7b2045f"
                  },
                  "key_prefix": {
                    "type": "string",
                    "description": "First 16 characters of the new provider API key. Stored for display — not sensitive. If provided, returned in the response.",
                    "example": "sk-ant-api03-xx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent successfully re-bound to the new key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "agent_id": {
                      "type": "string",
                      "example": "smolt-a1b2c3d4"
                    },
                    "rekeyed_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The new key is already bound to another agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "conflict_agent_id": {
                      "type": "string",
                      "example": "smolt-e5f6g7h8"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/agents/{agent_id}/verify-binding": {
      "post": {
        "operationId": "verifyAgentBinding",
        "summary": "Verify key binding",
        "description": "Checks whether a given API key hash matches the key currently bound to this agent. The raw key is hashed client-side — only the hash is transmitted.\n\n**Named agents**: hash as `SHA256(key + '|' + agentName)` before submitting.\n\nReturns `key_prefix` of the registered key regardless of match result — useful for debugging.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_hash"
                ],
                "properties": {
                  "key_hash": {
                    "type": "string",
                    "pattern": "^[0-9a-f]{16}$",
                    "description": "First 16 hex chars of SHA256(apiKey) or SHA256(apiKey + '|' + agentName) for named agents.",
                    "example": "a3f8c1d9e7b2045f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Binding check result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bound": {
                      "type": "boolean",
                      "description": "True if the submitted hash matches the registered key."
                    },
                    "key_prefix": {
                      "type": "string",
                      "nullable": true,
                      "description": "First 16 chars of the registered key, or null if not yet captured.",
                      "example": "sk-ant-api03-xx"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/agents/{agent_id}/traces": {
      "get": {
        "operationId": "getAgentTraces",
        "summary": "Get traces for agent (AAP query alias)",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APTrace"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/traces": {
      "get": {
        "operationId": "queryTraces",
        "summary": "Query traces with filters",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APTrace"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/traces/{trace_id}": {
      "get": {
        "operationId": "getTrace",
        "summary": "Get single trace by ID",
        "tags": [
          "Traces"
        ],
        "parameters": [
          {
            "name": "trace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APTrace"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrity/{agent_id}": {
      "get": {
        "operationId": "getIntegrityScore",
        "summary": "Compute AAP integrity score",
        "tags": [
          "Integrity"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integrity score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrityScore"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/integrity/aip": {
      "get": {
        "operationId": "getAipIntegrityScore",
        "summary": "AIP integrity score",
        "tags": [
          "Integrity"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "AIP integrity score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "total_checks": {
                      "type": "integer"
                    },
                    "clear_count": {
                      "type": "integer"
                    },
                    "review_count": {
                      "type": "integer"
                    },
                    "violation_count": {
                      "type": "integer"
                    },
                    "integrity_ratio": {
                      "type": "number"
                    },
                    "latest_verdict": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ssm/{agent_id}": {
      "get": {
        "operationId": "getSSM",
        "summary": "Get traces with semantic similarity scores",
        "tags": [
          "Integrity"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traces with similarity scores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "trace_count": {
                      "type": "integer"
                    },
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ssm/{agent_id}/timeline": {
      "get": {
        "operationId": "getSSMTimeline",
        "summary": "Get similarity timeline data",
        "tags": [
          "Integrity"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 7,
              "minimum": 1,
              "maximum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Similarity timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "days": {
                      "type": "integer"
                    },
                    "timeline": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "trace_count": {
                            "type": "integer"
                          },
                          "avg_similarity": {
                            "type": "number"
                          },
                          "values_used": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/checkpoints": {
      "get": {
        "operationId": "listCheckpoints",
        "summary": "Paginated integrity checkpoints",
        "tags": [
          "Checkpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "verdict",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "clear",
                "review_needed",
                "boundary_violation"
              ]
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated checkpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkpoints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Checkpoint"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/checkpoints/{checkpoint_id}": {
      "get": {
        "operationId": "getCheckpoint",
        "summary": "Get single checkpoint",
        "tags": [
          "Checkpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "checkpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkpoint details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkpoint"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/reverify": {
      "post": {
        "operationId": "reverifyTraces",
        "summary": "Re-verify AAP traces against updated card",
        "tags": [
          "Checkpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 40,
              "maximum": 40
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Re-verification results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "card_id": {
                      "type": "string"
                    },
                    "total_traces_in_batch": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "reverified": {
                      "type": "integer"
                    },
                    "still_violating": {
                      "type": "integer"
                    },
                    "now_clean": {
                      "type": "integer"
                    },
                    "errors": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/reverify/aip": {
      "post": {
        "operationId": "reverifyAipCheckpoints",
        "summary": "Re-evaluate AIP checkpoints against updated card",
        "tags": [
          "Checkpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Re-evaluation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "card_id": {
                      "type": "string"
                    },
                    "total_in_batch": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "re_evaluated": {
                      "type": "integer"
                    },
                    "resolved_to_clear": {
                      "type": "integer"
                    },
                    "kept_non_clear": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "errors": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/drift/{agent_id}": {
      "get": {
        "operationId": "getAapDrift",
        "summary": "Get AAP drift alerts for agent",
        "tags": [
          "Drift"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Drift detection results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "analyzed_traces": {
                      "type": "integer"
                    },
                    "drift": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/drift/aip": {
      "get": {
        "operationId": "getAipDrift",
        "summary": "Get AIP drift alerts",
        "tags": [
          "Drift"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "AIP drift alerts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alerts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DriftAlert"
                      }
                    },
                    "agent_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/timeline": {
      "get": {
        "operationId": "getTimeline",
        "summary": "Unified dual-rail AIP + AAP timeline",
        "tags": [
          "Checkpoints"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/enforcement": {
      "get": {
        "operationId": "getEnforcement",
        "summary": "Get AIP enforcement mode",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Enforcement mode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnforcementMode"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "setEnforcement",
        "summary": "Update AIP enforcement mode",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "observe",
                      "enforce",
                      "nudge"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enforcement mode updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "enforcement_mode": {
                      "type": "string"
                    },
                    "updated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/conscience-values": {
      "get": {
        "operationId": "getConscienceValues",
        "summary": "Get conscience values for agent",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Conscience values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "conscience_values": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConscienceValue"
                      }
                    },
                    "is_default": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateConscienceValues",
        "summary": "Update conscience values",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conscience_values"
                ],
                "properties": {
                  "conscience_values": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConscienceValue"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Values updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "conscience_values": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConscienceValue"
                      }
                    },
                    "updated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "resetConscienceValues",
        "summary": "Reset conscience values to defaults",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Values reset to defaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_id": {
                      "type": "string"
                    },
                    "reset_to_defaults": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/agents/{agent_id}/resolve": {
      "post": {
        "operationId": "resolveViolation",
        "summary": "Resolve a concern or violation",
        "tags": [
          "Enforcement"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target_type",
                  "target_id",
                  "resolution_type"
                ],
                "properties": {
                  "target_type": {
                    "type": "string",
                    "enum": [
                      "checkpoint",
                      "trace"
                    ]
                  },
                  "target_id": {
                    "type": "string"
                  },
                  "resolution_type": {
                    "type": "string",
                    "enum": [
                      "acknowledged",
                      "allow_action",
                      "add_value"
                    ]
                  },
                  "action_name": {
                    "type": "string",
                    "description": "Required when resolution_type is allow_action"
                  },
                  "value_name": {
                    "type": "string",
                    "description": "Required when resolution_type is add_value"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolution created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolution_id": {
                      "type": "string"
                    },
                    "resolution_type": {
                      "type": "string"
                    },
                    "resolved_by": {
                      "type": "string"
                    },
                    "card_modified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Resolution already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}/resolutions": {
      "get": {
        "operationId": "listResolutions",
        "summary": "List resolutions for an agent",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of resolutions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolutions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/aip/webhooks": {
      "post": {
        "operationId": "registerAipWebhook",
        "summary": "Register AIP webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id",
                  "callback_url",
                  "secret",
                  "events"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "secret": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registration_id": {
                      "type": "string"
                    },
                    "agent_id": {
                      "type": "string"
                    },
                    "callback_url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/aip/webhooks/{registration_id}": {
      "delete": {
        "operationId": "deleteAipWebhook",
        "summary": "Remove AIP webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "registration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get authenticated user info and linked agents",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "billing_account_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "plan_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "org": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "org_id": {
                          "type": "string"
                        },
                        "org_name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/delete-account": {
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete authenticated user account and unlink agents",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/sso/check-domain": {
      "get": {
        "operationId": "checkSsoDomain",
        "summary": "Check if email domain has SSO enabled",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSO domain check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sso_enabled": {
                      "type": "boolean"
                    },
                    "org_id": {
                      "type": "string"
                    },
                    "org_name": {
                      "type": "string"
                    },
                    "provider_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create Stripe checkout session",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_id"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string"
                  },
                  "annual": {
                    "type": "boolean",
                    "default": false
                  },
                  "promo_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "session_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/portal": {
      "post": {
        "operationId": "createPortalSession",
        "summary": "Create Stripe billing portal session",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Portal session URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/subscription": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get current subscription details",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel subscription at period end",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canceled": {
                      "type": "boolean"
                    },
                    "cancel_at_period_end": {
                      "type": "boolean"
                    },
                    "current_period_end": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/reactivate": {
      "post": {
        "operationId": "reactivateSubscription",
        "summary": "Reactivate a subscription scheduled for cancellation",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reactivation confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reactivated": {
                      "type": "boolean"
                    },
                    "cancel_at_period_end": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/change-plan": {
      "post": {
        "operationId": "changePlan",
        "summary": "Change subscription plan",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_id"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string"
                  },
                  "annual": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated": {
                      "type": "boolean"
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/me": {
      "get": {
        "operationId": "getMyBilling",
        "summary": "Get authenticated user billing summary",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Billing summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/features": {
      "get": {
        "operationId": "getFeatures",
        "summary": "Get plan feature flags for authenticated user",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plan features",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan_id": {
                      "type": "string"
                    },
                    "feature_flags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "boolean"
                      }
                    },
                    "limits": {
                      "type": "object"
                    },
                    "included_checks": {
                      "type": "integer"
                    },
                    "check_count_this_period": {
                      "type": "integer"
                    },
                    "subscription_status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/usage": {
      "get": {
        "operationId": "getMyUsage",
        "summary": "Get usage metrics for current user",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/usage/agents": {
      "get": {
        "operationId": "getMyAgentUsage",
        "summary": "Get per-agent usage breakdown",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-agent usage data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/budget-alert": {
      "get": {
        "operationId": "getBudgetAlert",
        "summary": "Get budget alert settings",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Budget alert settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threshold_cents": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "last_alert_sent_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "setBudgetAlert",
        "summary": "Set budget alert threshold",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "threshold_cents": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budget alert updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threshold_cents": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "updated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/export/usage": {
      "get": {
        "operationId": "exportUsage",
        "summary": "Export usage data as CSV",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing/validate-promo": {
      "post": {
        "operationId": "validatePromo",
        "summary": "Validate a promo code",
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promo validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "discount_percent": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "discount_amount_cents": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/enterprise/contact": {
      "post": {
        "operationId": "enterpriseContact",
        "summary": "Submit enterprise contact form",
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "company"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "company": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "company_size": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inquiry submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "operationId": "listPublicPlans",
        "summary": "List public pricing plans",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Public plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create a personal API key",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "default": "Default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created (secret shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listApiKeys",
        "summary": "List active API keys",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api-keys/{key_id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke an API key",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    },
                    "key_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orgs": {
      "post": {
        "operationId": "createOrg",
        "summary": "Create organization",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "slug"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 100
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 48,
                    "pattern": "^[a-z0-9][a-z0-9-]*[a-z0-9]$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Slug taken or user already in org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMyOrgs",
        "summary": "List organizations for authenticated user",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orgs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orgs/{org_id}": {
      "get": {
        "operationId": "getOrg",
        "summary": "Get organization details",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateOrg",
        "summary": "Update organization",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "billing_email": {
                    "type": "string"
                  },
                  "company_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrg",
        "summary": "Delete organization (owner only)",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orgs/{org_id}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List organization members",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Members list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrgMember"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orgs/{org_id}/members/{user_id}": {
      "patch": {
        "operationId": "updateMemberRole",
        "summary": "Update member role (owner only)",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member",
                      "viewer",
                      "auditor"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "org_id": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "old_role": {
                      "type": "string"
                    },
                    "new_role": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove member or self-leave",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "boolean"
                    },
                    "org_id": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orgs/{org_id}/invitations": {
      "post": {
        "operationId": "inviteMember",
        "summary": "Invite member to organization",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
[...]
