{
  "openapi": "3.1.0",
  "info": {
    "title": "Mnemom API",
    "description": "Trust infrastructure for AI agents. Transparent alignment verification, behavioral drift detection, and accountability primitives.",
    "version": "1.0.0",
    "contact": {
      "name": "Mnemom",
      "url": "https://mnemom.ai",
      "email": "support@mnemom.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.mnemom.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "A2A",
      "description": "Public A2A AgentCard projection of the canonical alignment card, with embedded AAP attestation extension (cards-as-primitive Phase 5)."
    },
    {
      "name": "Agents",
      "description": "Agent registration, lifecycle, and metadata."
    },
    {
      "name": "Agent Containment",
      "description": "Containment policies and quarantine controls."
    },
    {
      "name": "Agent Groups",
      "description": "Lightweight logical tags for bucketing an org's agents — the unscored counterpart to the scored Teams primitive. No cards, coherence, reputation, or feature gate."
    },
    {
      "name": "Alignment",
      "description": "Alignment manifest CRUD — canonical `/v1/alignment/<scope>/<scope_id>` surface across platform / org / team / agent (cards-as-primitive Phase 4)."
    },
    {
      "name": "Analyze",
      "description": "Behavioral analysis endpoints."
    },
    {
      "name": "Aletheia Support",
      "description": "In-product Aletheia assistant MVP (issue #2195) — chat + voice adapters over one shared answer core. Gated behind ALETHEIA_SUPPORT_MVP_ENABLED + the ALETHEIA_SUPPORT_ALLOWLIST identity allowlist (whose default is the whole @mnemom.ai domain, and which may be set to \"*\" to admit every authenticated identity), fail-closed 404 for every non-allowed caller. Dark by default; whether it is customer-facing depends on that env var per deployment."
    },
    {
      "name": "Attestation",
      "description": "AAP attestation token JWKS surface and platform-admin signing-key rotation (cards-as-primitive Phase 5)."
    },
    {
      "name": "Auth",
      "description": "Authentication, sessions, and access management."
    },
    {
      "name": "Billing",
      "description": "Subscription, usage, and invoicing."
    },
    {
      "name": "Blog",
      "description": "Public blog content."
    },
    {
      "name": "Card Templates",
      "description": "Org-level alignment and protection card templates."
    },
    {
      "name": "Catalog",
      "description": "Discovery surface for the 25-entry Mnemom value catalog v1 (cards-as-primitive Phase 4)."
    },
    {
      "name": "Checkpoints",
      "description": "Integrity checkpoints and proof artifacts."
    },
    {
      "name": "Conscience Values",
      "description": "Org-level conscience-value configuration."
    },
    {
      "name": "Consent",
      "description": "GDPR Art. 7(1) append-only consent audit log (MNE-477). Public write (banner POSTs each decision); admin-only read/export. Stores a pseudonymous subject id + truncated IP only — in addition to client-side enforcement."
    },
    {
      "name": "Domains",
      "description": "Domain ownership claims (DNS-TXT verified) + the public no-PII claim-status projection."
    },
    {
      "name": "MCP Servers",
      "description": "MCP-server ownership claims (DNS-TXT verified on the origin domain) + the public no-PII claim-status projection for the IITR MCP-readiness rubric."
    },
    {
      "name": "Dojo",
      "description": "Dojo demo shared contracts (MNE-517): SimEvent SSE narrative feed + ephemeral compute-key issuance. Internal/demo surface, not customer-facing."
    },
    {
      "name": "Invite Message Template",
      "description": "Admin-only (mnemom_staff) CRUD over the invite composer's saved, reusable invite copy (MNE-7094, 5/8 of the RG invite-permission-product epic MNE-7089). Internal/staff surface, not customer-facing."
    },
    {
      "name": "Code",
      "description": "Mnemom Agent — the governed agent launcher (`mnemom agent`). The per-org feature gate the CLI checks at startup; invites and access reuse the product-invite surface with product `code`."
    },
    {
      "name": "Invites",
      "description": "Invitee-facing product-invite redemption (MNE-7166, 6/8 of the RG invite-permission-product epic MNE-7089). Accepting a `pinv_…` token grants product access and forwards a server-owned starter grant; the grant amount is admin-only and never surfaced."
    },
    {
      "name": "Coherence",
      "description": "Coherence report-claim round-trip (MNE-1379): single-use claim-intent tickets that carry a report claim across the sign-up/email-confirm/return round-trip so no session token rides the URL — only the opaque `mci_…` ticket."
    },
    {
      "name": "Drift",
      "description": "Drift detection and resolution."
    },
    {
      "name": "Enforcement",
      "description": "Enforcement-mode configuration and queries."
    },
    {
      "name": "Governance",
      "description": "Operator-actionable governance signals (ADR-048)."
    },
    {
      "name": "Integrity",
      "description": "AIP integrity checkpoints and verdicts."
    },
    {
      "name": "Intelligence",
      "description": "Intelligence reports and queries."
    },
    {
      "name": "Licensing",
      "description": "License management."
    },
    {
      "name": "Network",
      "description": "Protection Network L4 thermometer read surface. Public-aggregate disclosure: any authenticated principal may read; rows carry no per-tenant identifiers."
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.1 authorization-code + PKCE flow for MCP clients (MNE-328). Identity delegated to Supabase GoTrue; mnemom-api mints its own short-lived MCP-scoped tokens. Includes RFC 7591 dynamic client registration and RFC 7009 revocation."
    },
    {
      "name": "On-Chain",
      "description": "On-chain verification and proofs."
    },
    {
      "name": "Onboarding",
      "description": "Onboarding guidance generation (MNE-5508) — LLM-driven step guidance + bounded action suggestions for customers completing onboarding checklists."
    },
    {
      "name": "Organizations",
      "description": "Org-level resources and management."
    },
    {
      "name": "Policy",
      "description": "Policy evaluation and configuration."
    },
    {
      "name": "Postures",
      "description": "Trust posture management (ADR-045)."
    },
    {
      "name": "Protection",
      "description": "Protection manifest CRUD — canonical `/v1/protection/<scope>/<scope_id>` surface across platform / org / team / agent (cards-as-primitive Phase 4)."
    },
    {
      "name": "Recipes",
      "description": "Customer-facing detection-recipe surface — FN/FP reports. Distinct from the Admin recipe-promotion surface and the Internal seeding surface."
    },
    {
      "name": "Reclassification",
      "description": "Reclassification workflows."
    },
    {
      "name": "Reputation",
      "description": "Per-agent reputation scores."
    },
    {
      "name": "Risk",
      "description": "Risk assessment endpoints."
    },
    {
      "name": "Safe House",
      "description": "Safe House threat detection and quarantine."
    },
    {
      "name": "Sideband",
      "description": "Sideband detection queries (legacy; sunsetting)."
    },
    {
      "name": "Team Reputation",
      "description": "Team-level reputation aggregates."
    },
    {
      "name": "Teams",
      "description": "Team-scope resources."
    },
    {
      "name": "Tools",
      "description": "Mnemom-side tools registry — per-tool class+domain+schema metadata (cards-as-primitive Phase 4)."
    },
    {
      "name": "Telemetry",
      "description": "Public browser-RUM ingest (Core Web Vitals). Anon-eligible by design, rate-limited, closed-enum dimensions only — emits spans, persists nothing."
    },
    {
      "name": "Traces",
      "description": "AP-Trace artifacts and queries."
    },
    {
      "name": "Transparency",
      "description": "Append-only public log of every canonical card identity ever composed. Signed Merkle root + per-row inclusion proofs (cards-as-primitive Phase 5)."
    },
    {
      "name": "Trust",
      "description": "Protection Network L5 public-trust surface — security advisories, IoC feed (STIX 2.1), and platform-admin CMS for both."
    },
    {
      "name": "Mu",
      "description": "mu-engine ledger proxy — thin pass-through to the mnemom-mu Worker (balances, budgets, staff reads). api owns auth/RBAC/org-context; the ledger lives in mnemom-mu (issue #2357)."
    },
    {
      "name": "Verification",
      "description": "Trace verification endpoints."
    },
    {
      "name": "Webhook Notifications",
      "description": "Webhook event subscription management."
    },
    {
      "name": "Webhooks",
      "description": "Webhook delivery and lifecycle."
    },
    {
      "name": "Misc",
      "description": "Miscellaneous operator-facing endpoints (contact, enterprise inquiries, compliance)."
    },
    {
      "name": "Feedback",
      "description": "Authenticated in-product feedback ingest (Aletheia Customer Voice). Redacted + consent-gated + idempotent."
    },
    {
      "name": "Notifications",
      "description": "Reactive notification channels — SSE stream + signed-webhook subscriptions for canonical card changes (cards-as-primitive Phase 5)."
    },
    {
      "name": "Presentations",
      "description": "Investor/data-room presentations + per-viewer grants (MNE-1428, \"Inside Mnemom\"). Admin create/invite/revoke; authed-user read scoped to active grants. Internal/demo surface, not customer-facing."
    },
    {
      "name": "Aletheia",
      "description": "Aletheia grounded Q&A answer core (MNE-1937). Internal/preview surface, not customer-facing."
    },
    {
      "name": "AletheiaVoice",
      "description": "In-product Aletheia voice register (MNE-1944), the customer/anon sibling of the Presentations deck voice register. DARK: feature-flag + allowlist gated, zero customer exposure until promoted; cookie/bearer-authed like any other customer route."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token in Authorization: Bearer header"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Mnemom-Api-Key",
        "description": "Mnemom API key (mnm_... format)"
      },
      "ServiceRole": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase service role bearer JWT. Used by /blog admin operations that talk directly to Supabase. NOT used by /internal/* or /v1/arena/internal/* — those use the custom-header schemes below."
      },
      "InternalKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Internal-Key",
        "description": "Internal service-to-service shared secret, timing-safe compared against INTERNAL_API_KEY. Used by /internal/* gateway routes (compose, agents, webhooks emit)."
      },
      "ServiceKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Service-Key",
        "description": "Service-to-service shared secret, timing-safe compared against MNEMOM_SERVICE_KEY. Used by /v1/arena/internal/*, /v1/on-chain/*, and the /v1/internal/* readers consumed by the reputation cron."
      },
      "CoherenceTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Per-cell coherence bearer token. Provisioned in 1Password vault `mnemom-coherence` (one item per receiver). Value compared against COHERENCE_<NAME>_SERVICE_TOKEN_EXPECTED. Used by /v1/internal/coherence/* and /v1/internal/governance/dispatch."
      },
      "ArenaCandidateTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dedicated arena writer token (ADR-004 §\"Arena dedicated writer token\"). Compared against ARENA_RECIPE_CANDIDATE_TOKEN. The token's only capability is writing recipe candidates with writer_identity='arena-bypass' (stamped server-side). Used by POST /v1/internal/recipe-candidates."
      },
      "CustomerVoiceTokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Customer Voice API bearer token. Timing-safe compared against CUSTOMER_VOICE_API_TOKEN. Grants access to all /v1/internal/feedback/* endpoints (MNE-1876). No customer-facing or reporter-read capability."
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "mnemom_session",
        "description": "HttpOnly, Secure, SameSite=Lax cookie issued by /v1/auth/sign-in (or the SSO / email-callback flows). The value is an AES-256-GCM-encrypted blob of {access_token, refresh_token, issued_at, auth_method}. Browser clients include this automatically with `credentials: \"include\"`."
      },
      "LicenseJwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "License JWT (HS256, HMAC-signed with LICENSE_SIGNING_SECRET). Used by self-hosted deployment instances to authenticate `/v1/deployments/heartbeat`. Not interchangeable with the Supabase user JWT."
      },
      "AgentAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Mnemom-Agent-Proof",
        "description": "Agent possession proof: the full SHA-256 hex digest of `${apiKey}|${agentName}` (or `${apiKey}` for an unnamed singleton agent) — the same `hash_proof` primitive used by POST /v1/agents claim, link-agent, and verify-binding. The server resolves the agent by `agent_hash = proof[:16]`. The agent's *own* identity (ADR-API-001 third auth class) — distinct from ApiKeyAuth (`X-Mnemom-Api-Key`, which resolves a user/account, not an agent)."
      }
    },
    "parameters": {
      "AgentId": {
        "name": "agent_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Agent identifier (e.g. smolt-abc123)"
      },
      "OrgId": {
        "name": "org_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Organization identifier (e.g. org-abc12345)"
      },
      "EndpointId": {
        "name": "endpoint_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Webhook endpoint identifier (e.g. whe-abc12345)"
      },
      "TeamId": {
        "name": "team_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Team identifier (UUID)"
      },
      "SubmissionId": {
        "name": "submission_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Aletheia Customer Voice feedback submission identifier (UUID)."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Paid feature gate — the caller's plan doesn't include this operation's feature flag. Emitted by `requireFeature` / `requireEntitlement` in `src/org/rbac.ts`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Server error — request was well-formed but the server failed to fulfill it. Typically a downstream dependency (DB / RPC / external API) returned an unexpected error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict — the request cannot proceed because of a current state conflict (e.g., resource already exists, version mismatch, in-flight idempotency key with a different body).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Request was well-formed but semantically invalid (e.g., business-rule validation failure, malformed YAML inside a JSON payload).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Gone": {
        "description": "The target is no longer available — a single-use, time-boxed resource (e.g. a claim-intent ticket) that has been consumed or has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate-limit exceeded. The global per-IP limiter (100 requests/minute, applied to every `/v1/*` route) rejected this request. Back off until the window resets — `Retry-After` carries the cooldown in seconds and `X-RateLimit-Reset` the absolute reset time.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          "X-RateLimit-Limit": {
            "description": "Requests permitted per window.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining in the current window (0 on a 429).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix epoch seconds at which the current window resets.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "An upstream dependency returned an invalid response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PermanentRedirect": {
        "description": "Permanent Redirect (RFC 7538). This URL is deprecated; follow `Location` to the canonical `/v1/<resource>/<scope>/<scope_id>` shape. Method and body are preserved across the redirect — modern clients re-issue the same `PUT` / `POST` / `DELETE` against the target unchanged.",
        "headers": {
          "Location": {
            "description": "Canonical URL to follow. Preserves the original query string.",
            "schema": {
              "type": "string",
              "format": "uri-reference"
            }
          },
          "Deprecation": {
            "description": "RFC 8594 — `true` for every legacy alignment / protection URL.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          "Sunset": {
            "description": "RFC 8594 — HTTP-date after which the legacy URL stops redirecting and returns 410 Gone. Currently `Fri, 15 Jan 2027 00:00:00 GMT`, aligned with the cards-as-primitive Phase 5 GA window.",
            "schema": {
              "type": "string",
              "format": "http-date"
            }
          },
          "Link": {
            "description": "RFC 8288 — points to the deprecation guide (`rel=\"deprecation\"`). Currently `<https://docs.mnemom.ai/concepts/cards-as-resources>; rel=\"deprecation\"; type=\"text/html\"`.",
            "schema": {
              "type": "string"
            }
          },
          "X-Mnemom-Schema": {
            "description": "Always `cards/url-canonicalization/v1` on this response.",
            "schema": {
              "type": "string",
              "enum": [
                "cards/url-canonicalization/v1"
              ]
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "An upstream dependency is currently unavailable. The request was not processed; retry after the cooldown window.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "The `If-Match` header carried a stale ETag (the spec was updated since the caller read it). Run `GET` to fetch the current ETag, splice your changes onto the latest state, and retry the write. Cards-as-primitive Phase 4 W3.1.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionRequired": {
        "description": "The `If-Match` header is missing on a sub-resource write. Sub-resource verbs use optimistic concurrency — read the current ETag via `GET`, then retry with `If-Match: \"sha256:...\"`. Cards-as-primitive Phase 4 W3.1.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RequestEntityTooLarge": {
        "description": "Request body exceeded the per-endpoint size cap. Cards-as-primitive sub-resource verbs cap each primitive body at 64 KiB; full-card PUTs cap at 128 KiB (alignment) / 64 KiB (protection).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "A2ATeamTrustExtension": {
        "type": "object",
        "properties": {
          "extension_uri": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "grade": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "member_count": {
            "type": "integer"
          },
          "verified_url": {
            "type": "string",
            "format": "uri"
          },
          "badge_url": {
            "type": "string",
            "format": "uri"
          },
          "methodology_url": {
            "type": "string",
            "format": "uri"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Agent": {
        "type": "object",
        "description": "An agent. GET /v1/agents/{id} returns one of TWO projections by authorization: an ORGANIZATION-MEMBER (owner) caller receives the full agent row (all fields below); a NON-OWNER receives a reduced public projection (id, name, claimed, created_at, last_seen, status, avatar_url). additionalProperties is left open because the owner row is the full DB row and grows as agent-settings columns are added (ADR-053 / proof / DDR); over-constraining it would 500 the endpoint on the next migration under /v1 response enforcement.",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "claimed": {
            "type": "boolean",
            "description": "Public projection only: whether the agent has been claimed by a user."
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "claimed_by": {
            "type": [
              "string",
              "null"
            ],
            "description": "Owner projection: user id that claimed the agent."
          },
          "created_by": {
            "type": [
              "string",
              "null"
            ],
            "description": "Owner projection: user id that created the agent (provenance)."
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Owner projection: the agent's org binding (ADR-062 authz boundary)."
          },
          "agent_proof_hash": {
            "type": [
              "string",
              "null"
            ],
            "description": "Owner projection: captured hash_proof of the bound key (mig 263)."
          },
          "agent_proof_captured_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "deleted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Owner projection: soft-delete timestamp (null when live)."
          },
          "agent_hash": {
            "type": "string",
            "description": "First 16 hex chars of `SHA256(apiKey + '|' + agentName)` for named agents, or `SHA256(apiKey)` for unnamed singleton agents. The gateway computes the same value on each request and uses it as the lookup key. See [Agent Identity](https://docs.mnemom.ai/concepts/agent-identity#agent_hash--the-canonical-identity-hash).",
            "example": "a1b2c3d4e5f6a7b8"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "claimed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_seen": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Agent name (2-32 chars, alphanumeric + hyphens). Present on all list and get responses."
          },
          "containment_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "active",
              "paused",
              "killed"
            ],
            "description": "Containment state of the agent (ADR-053)."
          },
          "key_prefix": {
            "type": [
              "string",
              "null"
            ],
            "description": "First 8 chars of the bound API key hash — useful for key-rotation debugging."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "offline"
            ]
          },
          "caller": {
            "type": "string",
            "enum": [
              "anonymous",
              "authenticated",
              "org_member"
            ],
            "description": "Self-describing caller context for THIS response. `org_member` callers receive the full owner record (all fields here); `anonymous`/`authenticated` (non-member) callers receive the reduced public projection (id, name, claimed, created_at, last_seen, status, avatar_url, caller). The differing field set is GOVERNED by this value — read it instead of inferring why a field is absent."
          },
          "public": {
            "type": "boolean",
            "description": "Identity-record visibility axis — whether the agent's IDENTITY RECORD is publicly discoverable. This is DISTINCT from reputation visibility: every registered agent's reputation is public by accountability standard (see `ReputationScore.visibility`). `public` here governs only the identity record, never the Trust Rating."
          },
          "aip_enforcement_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "observe",
              "enforce",
              "nudge"
            ]
          },
          "billing_account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "groups": {
            "type": "array",
            "description": "Active groups this agent belongs to, name-ordered; `[]` when none. Present on org-fleet rows (GET /v1/orgs/{org_id}/agents). Archived groups are excluded.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "color"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Group color (hex, e.g. `#0d9488`); `null` when unset."
                }
              }
            }
          }
        }
      },
      "AgentExemption": {
        "type": "object",
        "description": "A single exemption row relaxing an org-template floor for one agent (ADR-008).",
        "required": [
          "id",
          "agent_id",
          "exempt_section",
          "reason",
          "granted_by",
          "granted_at",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "exempt_section": {
            "type": "string",
            "enum": [
              "autonomy.forbidden_actions",
              "enforcement.forbidden_tools",
              "autonomy.max_autonomous_value"
            ]
          },
          "exempt_patterns": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "reason": {
            "type": "string"
          },
          "granted_by": {
            "type": "string"
          },
          "granted_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active"
            ],
            "description": "Always `active` today (forward-compat stub for future dual-control approval workflow)."
          }
        }
      },
      "AgentSettings": {
        "type": "object",
        "description": "Per-agent operational observer-rollout flags. MNE-556 P4: the former behavioral toggles (aap_enabled, aip_enabled, proof_enabled, proof_rate, nudge_strategy, ddr_mode, analyze_output) were removed — that config now lives on the composed alignment card (PUT /agents/{id}/alignment-card). Only the observer V2/V1 rollout flags remain here.",
        "required": [
          "agent_id",
          "observer_v2_primary_enabled",
          "observer_v1_shadow_enabled"
        ],
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "observer_v2_primary_enabled": {
            "type": "boolean",
            "description": "Whether the V2 observer retune is authoritative for this agent (default true)."
          },
          "observer_v1_shadow_enabled": {
            "type": "boolean",
            "description": "Whether the V1 observer runs in parallel shadow for this agent (default false)."
          }
        }
      },
      "AlignmentCard": {
        "type": "object",
        "properties": {
          "card_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "card_json": {
            "type": "object",
            "description": "Full alignment card JSON per AAP spec"
          },
          "conscience_values": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ConscienceValue"
            }
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AlignmentCardSourcesEnvelope": {
        "type": "object",
        "required": [
          "platform",
          "org",
          "teams",
          "agent",
          "composed",
          "composed_stale",
          "my_role"
        ],
        "description": "Four-scope sources envelope returned by `GET /v1/agents/{agent_id}/alignment-card?include=sources`. Per ADR-053 the envelope mirrors the composer cascade Platform → Org → Team(s) → Agent and carries the caller's effective role + a staleness signal.",
        "properties": {
          "platform": {
            "$ref": "#/components/schemas/CardSourceScope"
          },
          "org": {
            "$ref": "#/components/schemas/OrgCardSourceScope"
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamCardSourceScope"
            },
            "description": "Zero-or-more team-scope contributions. Empty when the agent is in no teams (Charter §I11 amended). Ordered by `teams.created_at ASC` to match the composer's stable order."
          },
          "agent": {
            "$ref": "#/components/schemas/CardSourceScope"
          },
          "composed": {
            "$ref": "#/components/schemas/CardSourceScope"
          },
          "composed_stale": {
            "type": "boolean",
            "description": "True when `composed.card_json._composition.scopes_applied` disagrees with the current `team_templates` set in `gather_composition_inputs` (the queue worker will reconverge via the existing `needs_recompose` flag)."
          },
          "my_role": {
            "$ref": "#/components/schemas/MyRole"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "Full secret key, only returned on creation"
          },
          "key_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyScope"
            },
            "description": "Capabilities granted to this key. Default for new keys is `[\"gateway\", \"api:read\", \"api:write\"]`. Admin scopes (`admin:org`, `admin:platform`) are opt-in and gated by the requester's role at mint time. See [API Keys → Scope vocabulary](https://docs.mnemom.ai/guides/api-keys#scope-vocabulary)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "ApiKeyScope": {
        "type": "string",
        "enum": [
          "gateway",
          "api:read",
          "api:write",
          "admin:org",
          "admin:platform",
          "api"
        ],
        "description": "Capability-based scope (ADR-049). `gateway` permits gateway-worker traffic; `api:read` and `api:write` permit identity-scoped GET and write endpoints respectively; `admin:org` permits org-admin operations on orgs the bearer owns/admins (per-request membership re-check); `admin:platform` permits `/v1/admin/*` Mnemom-staff operations (per-request staff-role re-check). The legacy `api` scope is accepted for backward compatibility and aliased to `api:read` + `api:write` at the auth gate; new keys should use the canonical vocabulary."
      },
      "ApiKeyWhoAmI": {
        "type": "object",
        "description": "Caller introspection — the principal authenticated for this request. Returned by `GET /v1/api-keys/whoami`. The handler is generalized across `cookie`, `jwt`, and `api_key` auth methods, so the API-key-specific fields (`key_id`, `account_id`, `scopes`) are null on cookie/JWT principals.",
        "required": [
          "user_id",
          "auth_method"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Authenticated principal identifier (Supabase user UUID for cookie/JWT auth; api-key-bound user UUID for api_key auth)."
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "auth_method": {
            "type": "string",
            "enum": [
              "cookie",
              "jwt",
              "api_key"
            ]
          },
          "key_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "API key id (e.g. `mnk_...`), or null for cookie/JWT auth."
          },
          "account_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Billing account id, or null for cookie/JWT auth."
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "scopes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Capability scopes (ADR-049) for api-key auth; null for cookie/JWT. e.g., ['gateway.send', 'gateway.observe']."
          },
          "is_admin": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "APTrace": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "action": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            }
          },
          "decision": {
            "type": "object",
            "properties": {
              "selected": {
                "type": "string"
              },
              "selection_reasoning": {
                "type": "string"
              },
              "values_applied": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "confidence": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "verification": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "verified": {
                "type": "boolean"
              },
              "violations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuthenticationResponseJSON": {
        "type": "object",
        "description": "Browser's `navigator.credentials.get()` response, JSON-serialized.",
        "properties": {
          "id": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public-key"
            ]
          },
          "response": {
            "type": "object"
          },
          "clientExtensionResults": {
            "type": "object"
          },
          "authenticatorAttachment": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "rawId",
          "type",
          "response"
        ],
        "additionalProperties": true
      },
      "BudgetAlertThreshold": {
        "type": "object",
        "required": [
          "level",
          "value_cents"
        ],
        "description": "One severity-tiered low-balance / budget-alert threshold (D5 alert hardening). A threshold fires when the account's overage cost (`currentCostCents`) reaches or exceeds `value_cents`. On write (`PUT /v1/billing/budget-alert`), callers may supply `value` in either `cents` (default) or `mu` (µ) via `unit`; 1 µ = 1¢ so the server normalizes both to the same `value_cents` integer stored here.",
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "warning",
              "urgent",
              "depleted"
            ],
            "description": "Severity level. Must rise monotonically with `value_cents` across a configured set."
          },
          "value_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "Normalized threshold value in integer cents."
          },
          "message": {
            "type": "string",
            "maxLength": 500,
            "description": "Optional operator-authored message (e.g. an explicit \"you are about to lose Mnemom protection features\" notice)."
          }
        }
      },
      "CapabilityMapping": {
        "type": "object",
        "description": "Policy-engine-internal capability mapping (the compiled form). The alignment card's own shape is CardCapability, which spells the action list `required_actions`; the engine renames it to `card_actions` when compiling.",
        "properties": {
          "description": {
            "type": "string",
            "description": "Human-readable description of what this capability represents"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tool identifiers that belong to this capability"
          },
          "card_actions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alignment card action types associated with this capability"
          }
        }
      },
      "CardCapability": {
        "type": "object",
        "description": "One entry of an alignment card's `capabilities` map: a named capability binding tools to the bounded actions it grants. NOTE the action list is `required_actions` here — `card_actions` (see CapabilityMapping) is the policy engine's INTERNAL name for the same list and is not accepted on the card; writing it is rejected with `unknown_field_rejected` (MNE-5801).",
        "required": [
          "tools"
        ],
        "properties": {
          "description": {
            "type": "string",
            "description": "Human-readable description of what this capability represents"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tool identifiers this capability grants"
          },
          "required_actions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Entries of `autonomy.bounded_actions` this capability binds. A bounded action bound by no capability is reported as unmapped by the coverage check, and is denied outright when `enforcement.allow_unmapped_tools` is false."
          },
          "allowed_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Domains this capability's tools may reach, when constrained"
          },
          "severity_on_unmapped": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Severity to report when a tool in this capability is unmapped"
          }
        }
      },
      "CardSourceScope": {
        "type": "object",
        "required": [
          "card_json",
          "available"
        ],
        "description": "One slice of a sources envelope. `card_json` carries the raw template at that scope (full UnifiedAlignment/Protection card, the org/team template, or the platform-defaults object). `available: false` means no card is configured at this scope.",
        "properties": {
          "card_json": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "available": {
            "type": "boolean"
          }
        }
      },
      "Checkpoint": {
        "type": "object",
        "properties": {
          "checkpoint_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "card_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "thinking_block_hash": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "verdict": {
            "type": "string",
            "enum": [
              "clear",
              "review_needed",
              "boundary_violation",
              "unverified"
            ]
          },
          "concerns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "severity": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "evidence": {
                  "type": "string"
                }
              }
            }
          },
          "reasoning_summary": {
            "type": "string"
          },
          "conscience_context": {
            "type": "object"
          },
          "window_position": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer"
              },
              "window_size": {
                "type": "integer"
              }
            }
          },
          "analysis_metadata": {
            "type": "object"
          },
          "linked_trace_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "re_evaluated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "original_verdict": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ComposedAlignmentCard": {
        "type": "object",
        "description": "OUTPUT-only variant of `UnifiedAlignmentCard` for the COMPOSED card the server emits on GET `/v1/alignment/{scope}/{id}`, `/effective`, and the `composed` field of preview-compose. Identical to `UnifiedAlignmentCard` except `principal` is optional (a default / org-scope composed card has no agent principal) and `values.declared` / `autonomy.bounded_actions` may be empty (a fresh card declares nothing yet). The strict `UnifiedAlignmentCard` remains the authoring/request contract.",
        "required": [
          "card_version",
          "agent_id",
          "autonomy_mode",
          "integrity_mode",
          "values",
          "autonomy",
          "audit"
        ],
        "properties": {
          "card_version": {
            "type": "string",
            "minLength": 1,
            "description": "Card schema version (required, non-empty). Current canonical value: `unified/2026-04-26`."
          },
          "autonomy_mode": {
            "type": "string",
            "enum": [
              "off",
              "observe",
              "nudge",
              "enforce"
            ],
            "description": "ADR-039 master switch for the action-policing pipeline (autonomy constraints). Required at the top level post-cutover; the legacy `enforcement.mode` location is rejected."
          },
          "integrity_mode": {
            "type": "string",
            "enum": [
              "off",
              "observe",
              "nudge",
              "enforce"
            ],
            "description": "ADR-039 master switch for the values/conscience pipeline (integrity constraints). Required at the top level post-cutover; the legacy `integrity.enforcement_mode` location is rejected."
          },
          "card_id": {
            "type": "string",
            "description": "Card row id. Server-assigned on PUT (`ac-{uuid}`)."
          },
          "agent_id": {
            "type": "string",
            "description": "Target agent id. On PUT, server overwrites to match the URL path."
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "principal": {
            "type": "object",
            "description": "Required object describing whose authority the agent acts under (ADR-039 Decision 10).",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "human",
                  "organization",
                  "agent",
                  "unspecified"
                ]
              },
              "identifier": {
                "type": "string",
                "description": "Required (non-empty) when principal.type is not `unspecified`; identifies the human / organization / agent."
              },
              "relationship": {
                "type": "string",
                "enum": [
                  "delegated_authority",
                  "advisory",
                  "autonomous"
                ]
              },
              "escalation_contact": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "relationship"
            ]
          },
          "values": {
            "type": "object",
            "required": [
              "declared"
            ],
            "properties": {
              "declared": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "minLength": 1
                    },
                    {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "description": "Ordered list of declared values. Phase 1 cards-as-primitive: each entry is either a catalog-v1 ID string (e.g. `'accuracy'`) or a parameterized map carrying optional `intensity` / `domain` / `severity_on_violation` / `scope` (e.g. `{id: 'accuracy', domain: 'financial', severity_on_violation: 'critical'}`)."
              },
              "definitions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "number"
                    }
                  }
                }
              },
              "conflicts_with": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hierarchy": {
                "type": "string",
                "enum": [
                  "lexicographic",
                  "weighted",
                  "contextual"
                ]
              }
            }
          },
          "conscience": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "augment",
                  "replace"
                ]
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "content"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "BOUNDARY",
                        "FEAR",
                        "COMMITMENT",
                        "BELIEF",
                        "HOPE"
                      ]
                    },
                    "content": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "advisory",
                        "mandatory"
                      ]
                    }
                  }
                }
              }
            },
            "required": [
              "mode",
              "values"
            ]
          },
          "autonomy": {
            "type": "object",
            "required": [
              "bounded_actions"
            ],
            "properties": {
              "bounded_actions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "forbidden_actions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "escalation_triggers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "condition",
                    "action",
                    "reason"
                  ],
                  "properties": {
                    "condition": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "escalate",
                        "deny",
                        "log"
                      ]
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              },
              "max_autonomous_value": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "tools": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "required_actions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "enforcement": {
            "type": "object",
            "description": "Optional ADR-039 Decision-3 user-facing knobs for unmapped-tool handling. The legacy `mode`, `unmapped_tool_action` and `fail_open` keys are REJECTED by the validator (mode → top-level autonomy_mode; fail_open → gateway env config).",
            "properties": {
              "allow_unmapped_tools": {
                "type": "boolean",
                "description": "When true, tools not mapped to a capability are allowed by default."
              },
              "default_unmapped_severity": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high",
                  "critical"
                ],
                "description": "Severity assigned to an unmapped tool when allow_unmapped_tools is false."
              },
              "forbidden_tools": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "pattern",
                    "reason",
                    "severity"
                  ],
                  "properties": {
                    "pattern": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "critical",
                        "high",
                        "medium",
                        "low"
                      ]
                    }
                  }
                }
              },
              "grace_period_hours": {
                "type": "integer"
              }
            }
          },
          "audit": {
            "type": "object",
            "required": [
              "retention_days",
              "queryable"
            ],
            "allOf": [
              {
                "if": {
                  "properties": {
                    "queryable": {
                      "const": true
                    }
                  },
                  "required": [
                    "queryable"
                  ]
                },
                "then": {
                  "required": [
                    "query_endpoint"
                  ]
                }
              }
            ],
            "properties": {
              "trace_format": {
                "type": "string"
              },
              "retention_days": {
                "type": "integer",
                "minimum": 0
              },
              "queryable": {
                "type": "boolean"
              },
              "query_endpoint": {
                "type": "string",
                "description": "Required when audit.queryable is true."
              },
              "tamper_evidence": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "append_only",
                  "signed",
                  "merkle",
                  null
                ]
              },
              "storage": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "local",
                      "remote",
                      "distributed"
                    ]
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true
          },
          "_composition": {
            "$ref": "#/components/schemas/CompositionMetadata"
          },
          "content_hash": {
            "type": "string",
            "description": "Response-only: content hash of the composed card (`sha256:<hex>`), injected by the GET/PUT response. Server-assigned — do not send on a PUT."
          },
          "version": {
            "type": "integer",
            "description": "Response-only: monotonic card version, injected by the GET/PUT response. Server-assigned — do not send on a PUT."
          }
        }
      },
      "CompositionMetadata": {
        "type": "object",
        "description": "System-managed block describing which scope sources merged into the canonical card. Only returned when `?include_composition=true`.",
        "properties": {
          "canonical_id": {
            "type": "string"
          },
          "composed_at": {
            "type": "string",
            "format": "date-time"
          },
          "scopes_applied": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scope": {
                  "type": "string",
                  "description": "`platform`, `org:<id>`, or `agent:<id>`."
                },
                "version": {
                  "type": "integer"
                },
                "template_version": {
                  "type": "integer"
                },
                "card_id": {
                  "type": "string"
                }
              }
            }
          },
          "exemptions_applied": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source_card_id": {
            "type": "string"
          },
          "source_policy_id": {
            "type": "string"
          }
        }
      },
      "ConscienceValue": {
        "type": "object",
        "required": [
          "type",
          "name",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BOUNDARY",
              "FEAR",
              "COMMITMENT",
              "BELIEF",
              "HOPE"
            ]
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "ConscienceValueOutput": {
        "type": "object",
        "required": [
          "type",
          "content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BOUNDARY",
              "FEAR",
              "COMMITMENT",
              "BELIEF",
              "HOPE"
            ]
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "advisory",
              "mandatory"
            ]
          }
        },
        "description": "OUTPUT variant of `ConscienceValue`. A conscience value read back from an agent's card (or the built-in DEFAULT_CONSCIENCE_VALUES) is `{type, content}` plus an optional stable `id` / `severity`; it has no `name` (only the `/conscience-values` PUT input attaches a name). `name` is therefore optional on output, and `id` / `severity` are documented."
      },
      "DeletionRequestStatus": {
        "type": "object",
        "description": "Tracks progress of the async GDPR Art. 17 deletion cascade (ADR-021).",
        "required": [
          "deletion_request_id",
          "status",
          "requested_at",
          "retry_count"
        ],
        "properties": {
          "deletion_request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "tombstoned",
              "phase_1_complete",
              "phase_2_complete",
              "phase_3_complete",
              "phase_4_complete",
              "phase_5_complete",
              "phase_6_complete",
              "phase_7_complete",
              "kv_cleared",
              "pseudonymized",
              "complete",
              "failed"
            ]
          },
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "failed_phase": {
            "type": [
              "string",
              "null"
            ]
          },
          "failed_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "DisagreementReview": {
        "type": "object",
        "description": "Row from `disagreement_reviews` — a human-adjudicable action that failed to find consensus during enforcement.",
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "review",
              "applied",
              "dismissed"
            ]
          },
          "proposed_amendment": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "action": {
                "type": "string",
                "description": "Action the reviewer proposes to add to `autonomy_envelope.bounded_actions`."
              },
              "description": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "resolved_by": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "DriftAlert": {
        "type": "object",
        "properties": {
          "alert_id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "checkpoint_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sustained_checks": {
            "type": "integer"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "drift_direction": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "detection_timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Canonical error envelope (ADR-API-001 conv 1). `error` is always an object — never a bare string. Every 4xx/5xx response across the API conforms to this shape; the runtime helper is `src/http-errors.ts::buildErrorBody`.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "pattern": "^[a-z][a-z0-9_]*$",
                "description": "Stable, machine-matchable failure identifier (lowercase snake_case). Clients may branch on this; the string is part of the contract.\n\n**Status-class defaults** — emitted when no caller code is supplied (`errorCodeForStatus(status)`): `bad_request` (400), `unauthorized` (401), `forbidden` (403), `not_found` (404), `method_not_allowed` (405), `conflict` (409), `gone` (410), `precondition_failed` (412), `payload_too_large` (413), `unsupported_media_type` (415), `unprocessable_entity` (422), `precondition_required` (428), `rate_limited` (429), `internal_error` (500), `not_implemented` (501), `bad_gateway` (502), `service_unavailable` (503), `gateway_timeout` (504). Fallback `error` for unmapped statuses.\n\n**Caller-supplied codes** — handlers may pass an explicit `code` for a specific failure class. Examples: `agent_not_found`, `invalid_hash_proof`, `already_linked`, `idempotency_conflict`, `feature_gated`, `schema_validation_failed`, `no_token`, `bad_canonical_payload`.\n\n**Care-framed sub-resource codes** — the cards-as-primitive surface passes its stable care code-string straight through as `error.code`. Examples: `if_match_absent`, `if_match_stale`, `if_match_malformed`, `primitive_validation_failed`."
              },
              "message": {
                "type": "string",
                "description": "Human-readable, care-framed explanation of the failure."
              },
              "details": {
                "description": "Optional structured context for the failure (any JSON value: object, array, or primitive). Common shapes: validation findings list, idempotency-conflict diff, `{presented_etag, current_etag}` on a stale `If-Match`, etc. Mirrors the helper's `details?: unknown`."
              }
            }
          }
        }
      },
      "EscalationTrigger": {
        "type": "object",
        "description": "Defines a condition that triggers an escalation action.",
        "required": [
          "condition",
          "action"
        ],
        "properties": {
          "condition": {
            "type": "string",
            "description": "Expression or rule describing when this trigger fires (e.g. 'violation_count > 3')"
          },
          "action": {
            "type": "string",
            "enum": [
              "notify",
              "pause",
              "block",
              "require_approval"
            ],
            "description": "Action to take when the condition is met"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of why this escalation exists"
          }
        }
      },
      "FaultLine": {
        "type": "object",
        "description": "A single fault line identified in team alignment analysis.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this fault line"
          },
          "value": {
            "type": "string",
            "description": "The specific value, capability, or constraint that constitutes the fault line"
          },
          "classification": {
            "type": "string",
            "enum": [
              "resolvable",
              "priority_mismatch",
              "incompatible",
              "complementary"
            ],
            "description": "Classification of the fault line's nature"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Severity of the fault line"
          },
          "agents_declaring": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that declare or satisfy this requirement"
          },
          "agents_missing": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that are missing this requirement"
          },
          "agents_conflicting": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs whose declared conflicts_with includes this value"
          },
          "impact_score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Estimated impact of this fault line on team alignment (0.0 to 1.0)"
          },
          "resolution_hint": {
            "type": "string",
            "description": "Suggested action to resolve this fault line"
          },
          "affects_capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bounded actions/capabilities shared by all involved agents"
          }
        }
      },
      "FaultLineAnalysis": {
        "type": "object",
        "description": "Complete fault line analysis result for a team.",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "Team that was analyzed"
          },
          "analysis_id": {
            "type": "string",
            "description": "Unique identifier for this analysis run"
          },
          "fault_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FaultLine"
            },
            "description": "Identified fault lines sorted by severity then impact_score desc"
          },
          "alignments": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Detected alignment patterns — sets of agents consistently isolated across multiple fault lines."
          },
          "summary": {
            "$ref": "#/components/schemas/FaultLineSummary"
          },
          "coherence": {
            "type": "object",
            "additionalProperties": true,
            "description": "@mnemom/team-coherence v2 dimensional coherence vector (governance median, conflict edges, conscience/integrity invariants + narrative helpers). Replaces the deprecated scalar fleet_score."
          }
        }
      },
      "FaultLineSummary": {
        "type": "object",
        "description": "Aggregated fault-line counts by classification (AAP `FaultLineSummary`). All counts are non-negative integers; every field is present even when no fault lines were detected (all zero).",
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of fault lines"
          },
          "resolvable": {
            "type": "integer",
            "minimum": 0,
            "description": "Count of resolvable fault lines"
          },
          "priority_mismatch": {
            "type": "integer",
            "minimum": 0,
            "description": "Count of priority_mismatch fault lines"
          },
          "incompatible": {
            "type": "integer",
            "minimum": 0,
            "description": "Count of incompatible fault lines"
          },
          "complementary": {
            "type": "integer",
            "minimum": 0,
            "description": "Count of complementary fault lines"
          },
          "critical_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Count of critical-severity fault lines"
          }
        }
      },
      "ForbiddenRule": {
        "type": "object",
        "description": "A rule that forbids tools matching a specific pattern.",
        "required": [
          "pattern",
          "reason"
        ],
        "properties": {
          "pattern": {
            "type": "string",
            "description": "Glob or regex pattern matching tool identifiers to forbid"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable reason why these tools are forbidden"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "default": "high",
            "description": "Severity level when a forbidden tool is invoked"
          }
        }
      },
      "GovernanceActorRole": {
        "type": "string",
        "enum": [
          "platform_admin",
          "org_owner",
          "org_admin",
          "team_admin",
          "member",
          "system"
        ],
        "description": "Audit-actor role per ADR-046."
      },
      "GovernanceCoverageReport": {
        "type": "object",
        "description": "Coverage rollup across the org's teams.",
        "required": [
          "org_id",
          "window_days",
          "by_source",
          "by_severity",
          "totals"
        ],
        "properties": {
          "org_id": {
            "type": "string"
          },
          "window_days": {
            "type": "integer",
            "minimum": 1
          },
          "by_source": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "fired": {
                  "type": "integer",
                  "minimum": 0
                },
                "acknowledged": {
                  "type": "integer",
                  "minimum": 0
                },
                "resolved": {
                  "type": "integer",
                  "minimum": 0
                },
                "dismissed": {
                  "type": "integer",
                  "minimum": 0
                },
                "open": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "by_severity": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "minimum": 0
            }
          },
          "totals": {
            "type": "object",
            "required": [
              "fired",
              "open"
            ],
            "properties": {
              "fired": {
                "type": "integer",
                "minimum": 0
              },
              "open": {
                "type": "integer",
                "minimum": 0
              },
              "median_time_to_ack_seconds": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              }
            }
          }
        }
      },
      "GovernanceDestinationFilter": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GovernanceSignalSource"
            }
          },
          "severities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GovernanceSignalSeverity"
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GovernanceSignalScope"
            }
          },
          "pattern_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GovernanceEscalationPredicate": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "source": {
            "$ref": "#/components/schemas/GovernanceSignalSource"
          },
          "pattern_type": {
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/GovernanceSignalSeverity"
          },
          "severity_min": {
            "$ref": "#/components/schemas/GovernanceSignalSeverity"
          },
          "severity_max": {
            "$ref": "#/components/schemas/GovernanceSignalSeverity"
          },
          "scope": {
            "$ref": "#/components/schemas/GovernanceSignalScope"
          },
          "team_id": {
            "type": "string",
            "format": "uuid"
          },
          "threshold_count": {
            "type": "integer",
            "minimum": 1
          },
          "window_minutes": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "GovernanceEscalationRule": {
        "type": "object",
        "required": [
          "id",
          "org_id",
          "name",
          "predicate",
          "destination_ids",
          "enabled",
          "fire_count",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "org_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "predicate": {
            "$ref": "#/components/schemas/GovernanceEscalationPredicate"
          },
          "destination_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 0
          },
          "enabled": {
            "type": "boolean"
          },
          "last_fired_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "fire_count": {
            "type": "integer",
            "minimum": 0
          },
          "created_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GovernanceNotificationChannel": {
        "type": "string",
        "enum": [
          "webhook",
          "slack",
          "email",
          "pagerduty"
        ]
      },
      "GovernanceNotificationChannelState": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "state",
          "attempts"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "queued",
              "delivered",
              "failed",
              "skipped"
            ]
          },
          "attempts": {
            "type": "integer",
            "minimum": 0
          },
          "destination_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "delivered_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "GovernanceNotificationDestination": {
        "type": "object",
        "required": [
          "id",
          "org_id",
          "channel",
          "config",
          "filter",
          "enabled",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "org_id": {
            "type": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/GovernanceNotificationChannel"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "filter": {
            "$ref": "#/components/schemas/GovernanceDestinationFilter"
          },
          "enabled": {
            "type": "boolean"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_tested_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_test_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "ok",
              "failed"
            ]
          },
          "last_test_error": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "GovernanceNotificationState": {
        "type": "object",
        "description": "Per-channel dispatch state populated by the notification dispatcher.",
        "additionalProperties": {
          "$ref": "#/components/schemas/GovernanceNotificationChannelState"
        },
        "properties": {
          "skipped": {
            "type": "boolean"
          }
        }
      },
      "GovernanceResolutionStatus": {
        "type": "string",
        "enum": [
          "action_taken",
          "wont_fix",
          "duplicate",
          "false_positive",
          "self_resolved"
        ]
      },
      "GovernanceSignal": {
        "type": "object",
        "description": "A governance signal row — operator-actionable observation per ADR-048.",
        "required": [
          "id",
          "scope",
          "scope_id",
          "source",
          "pattern_type",
          "severity",
          "detected_at",
          "detected_by",
          "org_id",
          "agent_ids",
          "detail",
          "source_ref",
          "status",
          "notification_state",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^gs-[0-9a-f]{12}$"
          },
          "scope": {
            "$ref": "#/components/schemas/GovernanceSignalScope"
          },
          "scope_id": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/GovernanceSignalSource"
          },
          "pattern_type": {
            "type": "string",
            "description": "Free-form per source."
          },
          "severity": {
            "$ref": "#/components/schemas/GovernanceSignalSeverity"
          },
          "detected_at": {
            "type": "string",
            "format": "date-time"
          },
          "detected_by": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "team_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "agent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "detail": {
            "type": "object",
            "additionalProperties": true
          },
          "source_ref": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "$ref": "#/components/schemas/GovernanceSignalStatus"
          },
          "acknowledged_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "acknowledged_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "acknowledged_actor_role": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GovernanceActorRole"
              },
              {
                "type": "null"
              }
            ]
          },
          "resolution_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GovernanceResolutionStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "action_taken": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolved_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "webhook_delivery_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "notification_state": {
            "$ref": "#/components/schemas/GovernanceNotificationState"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GovernanceSignalScope": {
        "type": "string",
        "enum": [
          "platform",
          "org",
          "team",
          "agent"
        ],
        "description": "Scope at which the signal is produced and routed (ADR-048 §1)."
      },
      "GovernanceSignalSeverity": {
        "type": "string",
        "enum": [
          "info",
          "warn",
          "high",
          "critical"
        ]
      },
      "GovernanceSignalsListResponse": {
        "type": "object",
        "required": [
          "signals"
        ],
        "properties": {
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GovernanceSignal"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "GovernanceSignalSource": {
        "type": "string",
        "enum": [
          "sideband.drift",
          "sideband.coherence",
          "sideband.fault_line",
          "sideband.fleet",
          "network.threat_level.changed"
        ],
        "description": "Source detector for the signal. Closed enum per ADR-048 §1. `network.threat_level.changed` added in migration 234."
      },
      "GovernanceSignalStatus": {
        "type": "string",
        "enum": [
          "open",
          "acknowledged",
          "resolved",
          "dismissed",
          "expired"
        ]
      },
      "InclusionProofResponse": {
        "type": "object",
        "description": "Merkle inclusion proof for a checkpoint",
        "properties": {
          "checkpoint_id": {
            "type": "string",
            "description": "The checkpoint ID"
          },
          "leaf_hash": {
            "type": "string",
            "description": "SHA-256 leaf hash of this checkpoint"
          },
          "leaf_index": {
            "type": "integer",
            "description": "Index of this leaf in the tree"
          },
          "siblings": {
            "type": "array",
            "description": "O(log N) sibling hashes for proof verification",
            "items": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "Hex-encoded sibling hash"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "left",
                    "right"
                  ],
                  "description": "Position of sibling relative to the path node"
                }
              },
              "required": [
                "hash",
                "position"
              ]
            }
          },
          "root": {
            "type": "string",
            "description": "Current Merkle root (hex-encoded)"
          },
          "tree_size": {
            "type": "integer",
            "description": "Total number of leaves in the tree"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the proof was verified against the stored root"
          }
        },
        "required": [
          "checkpoint_id",
          "leaf_hash",
          "leaf_index",
          "siblings",
          "root",
          "tree_size",
          "verified"
        ]
      },
      "IntegrityCertificate": {
        "type": "object",
        "description": "Machine-readable cryptographic certificate for an integrity checkpoint. Modeled on C2PA content credentials and W3C Verifiable Credentials.",
        "properties": {
          "@context": {
            "type": "string",
            "description": "Namespace identifier",
            "enum": [
              "https://mnemom.ai/aip/v1"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "IntegrityCertificate"
            ]
          },
          "version": {
            "type": "string",
            "description": "Certificate format version"
          },
          "certificate_id": {
            "type": "string",
            "description": "Unique certificate identifier (cert-{8 random chars})"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of certificate issuance"
          },
          "subject": {
            "type": "object",
            "description": "Identifies the checkpoint this certificate attests to",
            "properties": {
              "checkpoint_id": {
                "type": "string",
                "description": "Integrity checkpoint ID (ic-{uuid})"
              },
              "agent_id": {
                "type": "string"
              },
              "session_id": {
                "type": "string"
              },
              "card_id": {
                "type": "string"
              }
            },
            "required": [
              "checkpoint_id",
              "agent_id",
              "session_id",
              "card_id"
            ]
          },
          "claims": {
            "type": "object",
            "description": "Analysis verdict and supporting evidence",
            "properties": {
              "verdict": {
                "type": "string",
                "enum": [
                  "clear",
                  "review_needed",
                  "boundary_violation",
                  "unverified"
                ]
              },
              "concerns": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              },
              "confidence": {
                "type": "number",
                "description": "Extraction confidence (0.0-1.0)"
              },
              "reasoning_summary": {
                "type": "string"
              },
              "analysis_model": {
                "type": "string"
              },
              "analysis_duration_ms": {
                "type": "number"
              }
            }
          },
          "input_commitments": {
            "type": "object",
            "description": "Cryptographic commitments to analysis inputs",
            "properties": {
              "thinking_block_hash": {
                "type": "string",
                "description": "SHA-256 hash of the thinking block"
              },
              "card_hash": {
                "type": "string",
                "description": "SHA-256 hash of the Alignment Card"
              },
              "values_hash": {
                "type": "string",
[...]
